## GTFS - Transfer Edges

In [169]:
import bisect
import pandas as pd
import datetime
import numpy as np
import geopy.distance
from tqdm.auto import tqdm
from tqdm import tqdm_notebook
tqdm.pandas()
import dask.dataframe as dd
from dask.multiprocessing import get
from geopy.point import Point
import datetime as dt
from multiprocessing import Pool, cpu_count
from contextlib import closing
import math

from dask.diagnostics import ProgressBar
ProgressBar().register()

DATA_PATH = '../../../input_data/synthetic_examples/input_data/Test1/'

In [170]:
OUTPUT_PATH = '../../../output_data/validation/two_lines/'

In [171]:
DAY = dt.datetime(2015, 12, 14)

## Load Nodes

In [172]:
# Load nodes
FILES_PREFIX = 'morning'
file_name = OUTPUT_PATH + FILES_PREFIX + '_nodes.pkl'
print(f'Loading nodes from file {file_name}')
nodes_df = pd.read_pickle(file_name)
nodes_df.head(3)

Loading nodes from file ../../../output_data/validation/two_lines/morning_nodes.pkl

,index,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
0,1,19407596_081215,07:06:06,07:06:06,12962,6,2544,06:59:00,21257,32.076767,34.844303,2015-12-14 07:06:06,2015-12-14 07:06:06,0
1,2,19407597_081215,07:15:06,07:15:06,12962,6,2544,07:08:00,21257,32.076767,34.844303,2015-12-14 07:15:06,2015-12-14 07:15:06,1
2,3,19407598_081215,07:24:06,07:24:06,12962,6,2544,07:17:00,21257,32.076767,34.844303,2015-12-14 07:24:06,2015-12-14 07:24:06,2

In [173]:
nodes_df.shape

(608, 14)

In [174]:
nodes_df.nunique()

index                            608
trip_id                           26
arrival_time                     573
departure_time_stop              573
stop_id                           64
stop_sequence                     37
route_id                           2
departure_time_trip_departure     23
stop_code                         64
stop_lat                          64
stop_lon                          64
arrival                          573
departure                        573
node_id                          608
dtype: int64

### Filter nodes for development

In [175]:
# start_time = DAY + dt.timedelta(hours=8)
# end_time = start_time + dt.timedelta(minutes=10)

# nodes_df = nodes_df[nodes_df['arrival'] > start_time][nodes_df['arrival'] < end_time]

In [176]:
# nodes_df.shape

In [177]:
# nodes_df.nunique()

## Parallelizing

In [178]:
def run_parallel_df(df_grouped, func):
    with closing(Pool()) as pool:
        res_list = pool.map(func, [group for name, group in df_grouped])
    return pd.concat(res_list)

In [179]:
def run_parallel_dict(data, num_of_batches, func):
    batch_size = math.ceil(len(data) / num_of_batches)
    with closing(Pool()) as pool:
#         res_list = []
        data_items = list(data.items())
        print(f'Processing data in workers pool. Numner of batches is {num_of_batches} where each batch has approx. {batch_size} keys')
        sliced_data = [data_items[i:i+batch_size] for i in range(num_of_batches)]
        print('Finished slicing the data.')
#         curr_batch = 1
        res_list = pool.map(func, sliced_data)
#         for res in tqdm_notebook(pool.imap(func, sliced_data), total=num_of_batches):
#             res_list.append(res)
#             print(f'Finished processing batch number {curr_batch} of {num_of_batches} total. Number of transfers from this batch: {len(res)}')
#             curr_batch += 1
    return [item for sublist in res_list for item in sublist]

#### Testing parallelization

In [180]:
# d = {'a': [1,2,3], 'b':[1]}
# # num_of_batches = 2
# # d_items = list(d.items())
# # batch_size = math.ceil(len(d) / num_of_batches)
# # sliced_d = [d_items[i:i+batch_size] for i in range(num_of_batches)]
# # print(len(d))

# def print_dict_with_sleep(data):
#     print('processing..')
#     data = dict(data)
#     for k,v in data.items():
#         print(len(v))
# #     time.sleep(3)
# run_parallel_dict(d, 2, print_dict_with_sleep)

## Load Nearby Stops

In [213]:
stops_mapping_df = pd.read_csv(DATA_PATH + 'StopsToStops.csv')

In [214]:
stops_mapping_df.head(3)

   in_stop_id  near_stop_id  near_dist
0       12834         12834        0.0
1       12841         12841        0.0
2       12889         12889        0.0

In [215]:
stops_mapping_df.columns

Index(['in_stop_id', 'near_stop_id', 'near_dist'], dtype='object')

In [216]:
stops_mapping_df.columns = ['IN_FID', 'NEAR_FID', 'NEAR_DIST']

In [217]:
# stops_mapping_df.shape

In [218]:
# stops_mapping_df.nunique()

If we allow walking 300 meters we get an average of 6.24 transfers to neighboring stops from each stop.

In [219]:
# TODO: 
# change walk speed to 1m/s - IMPL
# maybe switch to 100-150
# 15 minutes walk + wait

# hoping to get to 10-20 edges per node

In [220]:
stops_df = pd.read_csv(DATA_PATH + 'stops.txt')

### Get all stops from which we wish to start computations

In [221]:
nodes_df.head()

,index,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
0,1,19407596_081215,07:06:06,07:06:06,12962,6,2544,06:59:00,21257,32.076767,34.844303,2015-12-14 07:06:06,2015-12-14 07:06:06,0
1,2,19407597_081215,07:15:06,07:15:06,12962,6,2544,07:08:00,21257,32.076767,34.844303,2015-12-14 07:15:06,2015-12-14 07:15:06,1
2,3,19407598_081215,07:24:06,07:24:06,12962,6,2544,07:17:00,21257,32.076767,34.844303,2015-12-14 07:24:06,2015-12-14 07:24:06,2
3,4,19407599_081215,07:33:06,07:33:06,12962,6,2544,07:26:00,21257,32.076767,34.844303,2015-12-14 07:33:06,2015-12-14 07:33:06,3
4,5,19407600_081215,07:42:06,07:42:06,12962,6,2544,07:35:00,21257,32.076767,34.844303,2015-12-14 07:42:06,2015-12-14 07:42:06,4

In [222]:
t1 = DAY+dt.timedelta(hours=7, minutes=15)
t2 = t1 + dt.timedelta(minutes=15)
start_nodes_df = nodes_df[nodes_df['departure'] <= t2][nodes_df['departure'] >= t1]

d:\users\bensdani\venvs\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [223]:
start_nodes_df.shape

(107, 14)

In [224]:
start_nodes_df.head()

,index,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
1,2,19407597_081215,07:15:06,07:15:06,12962,6,2544,07:08:00,21257,32.076767,34.844303,2015-12-14 07:15:06,2015-12-14 07:15:06,1
2,3,19407598_081215,07:24:06,07:24:06,12962,6,2544,07:17:00,21257,32.076767,34.844303,2015-12-14 07:24:06,2015-12-14 07:24:06,2
10,71,19407597_081215,07:16:20,07:16:20,12979,7,2544,07:08:00,21280,32.082794,34.845456,2015-12-14 07:16:20,2015-12-14 07:16:20,10
11,72,19407598_081215,07:25:20,07:25:20,12979,7,2544,07:17:00,21280,32.082794,34.845456,2015-12-14 07:25:20,2015-12-14 07:25:20,11
19,140,19407597_081215,07:17:38,07:17:38,13191,8,2544,07:08:00,21631,32.092032,34.847151,2015-12-14 07:17:38,2015-12-14 07:17:38,19

In [225]:
start_nodes_list = start_nodes_df['node_id'].to_list()
start_nodes_list = [str(n) for n in start_nodes_list]

In [226]:
with open((OUTPUT_PATH + FILES_PREFIX + '_start_nodes.pkl'), 'wb') as f:
    pickle.dump(start_nodes_list, f)

#### Validation - let's find the most frequent origin stops and make sure it seems right.

In [227]:
# stops_mapping_150m_df.IN_FID.mode()

In [228]:
# stops_df.iloc[10841]

In [229]:
# stops_df.iloc[10841]

We can see this is the central bus station, which makes sense it will have the most possible transfers.

Now we must re-map the nearby stops to stop_id as used in the GTFS feeds.

In [230]:
stops_df['IN_FID'] = stops_df['stop_id']

In [231]:
stops_df[['IN_FID', 'stop_id']].head()

   IN_FID  stop_id
0   12834    12834
1   12841    12841
2   12889    12889
3   12893    12893
4   12894    12894

In [232]:
stops_df.shape

(64, 9)

In [233]:
stops_mapping_df.head(2)

   IN_FID  NEAR_FID  NEAR_DIST
0   12834     12834        0.0
1   12841     12841        0.0

In [234]:
stops_mapping_df = stops_mapping_df.merge(stops_df[['IN_FID', 'stop_id']], on='IN_FID', how='left')
stops_mapping_df.rename(columns={'stop_id':'from_stop_id'}, inplace=True)
stops_mapping_df = stops_mapping_df.merge(stops_df[['IN_FID', 'stop_id']], left_on='NEAR_FID', right_on='IN_FID', how='left')
stops_mapping_df.rename(columns={'stop_id':'to_stop_id', 'NEAR_DIST':'dist'}, inplace=True)

In [235]:
stops_mapping_df = stops_mapping_df[['from_stop_id', 'to_stop_id', 'dist']]
stops_mapping_df.head()

   from_stop_id  to_stop_id  dist
0         12834       12834   0.0
1         12841       12841   0.0
2         12889       12889   0.0
3         12893       12893   0.0
4         12894       12894   0.0

In [239]:
AVG_WALK_SPEED = 0.83  # meters per second (m/s)
stops_mapping_df['walk_time_sec'] = stops_mapping_df['dist'] / AVG_WALK_SPEED

In [240]:
stops_mapping_df.head(3)

   from_stop_id  to_stop_id  dist  walk_time_sec
0         12834       12834   0.0            0.0
1         12841       12841   0.0            0.0
2         12889       12889   0.0            0.0

In [241]:
stops_mapping_df.to_csv(OUTPUT_PATH + 'nearby_stops.csv')

In [242]:
stops_mapping_df.to_pickle(OUTPUT_PATH + 'nearby_stops.pkl')

In [243]:
stops_mapping_df.shape

(72, 4)

In [244]:
stops_mapping_df.nunique()

from_stop_id     64
to_stop_id       64
dist              5
walk_time_sec     5
dtype: int64

In [245]:
# stops_mapping_df = pd.read_pickle(OUTPUT_PATH + 'nearby_stops.pkl')

In [246]:
stops_mapping_200m_df = stops_mapping_df[stops_mapping_df['dist'] < 200]

In [247]:
stops_mapping_200m_df.shape

(72, 4)

In [248]:
stops_mapping_200m_df.nunique()

from_stop_id     64
to_stop_id       64
dist              5
walk_time_sec     5
dtype: int64

## Compute Transfer Edges

In [249]:
stops_to_nodes = nodes_df.groupby('stop_id')[[
    'node_id', 'trip_id', 'arrival', 'departure', 'route_id']].apply(lambda g: g.values.tolist()).to_dict()

In [250]:
dict(list(stops_to_nodes.items())[0:2])

{12834: [[599,
   '19404968_091215',
   Timestamp('2015-12-14 07:10:45'),
   Timestamp('2015-12-14 07:10:45'),
   9807],
  [600,
   '19404969_091215',
   Timestamp('2015-12-14 07:20:45'),
   Timestamp('2015-12-14 07:20:45'),
   9807],
  [601,
   '19404970_091215',
   Timestamp('2015-12-14 07:28:45'),
   Timestamp('2015-12-14 07:28:45'),
   9807],
  [602,
   '19404971_091215',
   Timestamp('2015-12-14 07:36:45'),
   Timestamp('2015-12-14 07:36:45'),
   9807],
  [603,
   '19404972_091215',
   Timestamp('2015-12-14 07:44:45'),
   Timestamp('2015-12-14 07:44:45'),
   9807],
  [604,
   '19404973_091215',
   Timestamp('2015-12-14 07:53:45'),
   Timestamp('2015-12-14 07:53:45'),
   9807],
  [605,
   '19404974_091215',
   Timestamp('2015-12-14 08:03:45'),
   Timestamp('2015-12-14 08:03:45'),
   9807],
  [606,
   '19404975_091215',
   Timestamp('2015-12-14 08:13:45'),
   Timestamp('2015-12-14 08:13:45'),
   9807],
  [607,
   '19404976_091215',
   Timestamp('2015-12-14 08:24:45'),
   Timestamp('2015-12-14 08:24:45'),
   9807]],
 12841: [[590,
   '19404968_091215',
   Timestamp('2015-12-14 07:09:45'),
   Timestamp('2015-12-14 07:09:45'),
   9807],
  [591,
   '19404969_091215',
   Timestamp('2015-12-14 07:19:45'),
   Timestamp('2015-12-14 07:19:45'),
   9807],
  [592,
   '19404970_091215',
   Timestamp('2015-12-14 07:27:45'),
   Timestamp('2015-12-14 07:27:45'),
   9807],
  [593,
   '19404971_091215',
   Timestamp('2015-12-14 07:35:45'),
   Timestamp('2015-12-14 07:35:45'),
   9807],
  [594,
   '19404972_091215',
   Timestamp('2015-12-14 07:43:45'),
   Timestamp('2015-12-14 07:43:45'),
   9807],
  [595,
   '19404973_091215',
   Timestamp('2015-12-14 07:52:45'),
   Timestamp('2015-12-14 07:52:45'),
   9807],
  [596,
   '19404974_091215',
   Timestamp('2015-12-14 08:02:45'),
   Timestamp('2015-12-14 08:02:45'),
   9807],
  [597,
   '19404975_091215',
   Timestamp('2015-12-14 08:12:45'),
   Timestamp('2015-12-14 08:12:45'),
   9807],
  [598,
   '19404976_091215',
   Timestamp('2015-12-14 08:23:45'),
   Timestamp('2015-12-14 08:23:45'),
   9807]]}

In [251]:
dict(list(stops_to_nodes.items()))

{12834: [[599,
   '19404968_091215',
   Timestamp('2015-12-14 07:10:45'),
   Timestamp('2015-12-14 07:10:45'),
   9807],
  [600,
   '19404969_091215',
   Timestamp('2015-12-14 07:20:45'),
   Timestamp('2015-12-14 07:20:45'),
   9807],
  [601,
   '19404970_091215',
   Timestamp('2015-12-14 07:28:45'),
   Timestamp('2015-12-14 07:28:45'),
   9807],
  [602,
   '19404971_091215',
   Timestamp('2015-12-14 07:36:45'),
   Timestamp('2015-12-14 07:36:45'),
   9807],
  [603,
   '19404972_091215',
   Timestamp('2015-12-14 07:44:45'),
   Timestamp('2015-12-14 07:44:45'),
   9807],
  [604,
   '19404973_091215',
   Timestamp('2015-12-14 07:53:45'),
   Timestamp('2015-12-14 07:53:45'),
   9807],
  [605,
   '19404974_091215',
   Timestamp('2015-12-14 08:03:45'),
   Timestamp('2015-12-14 08:03:45'),
   9807],
  [606,
   '19404975_091215',
   Timestamp('2015-12-14 08:13:45'),
   Timestamp('2015-12-14 08:13:45'),
   9807],
  [607,
   '19404976_091215',
   Timestamp('2015-12-14 08:24:45'),
   Timestamp('2015-12-14 08:24:45'),
   9807]],
 12841: [[590,
   '19404968_091215',
   Timestamp('2015-12-14 07:09:45'),
   Timestamp('2015-12-14 07:09:45'),
   9807],
  [591,
   '19404969_091215',
   Timestamp('2015-12-14 07:19:45'),
   Timestamp('2015-12-14 07:19:45'),
   9807],
  [592,
   '19404970_091215',
   Timestamp('2015-12-14 07:27:45'),
   Timestamp('2015-12-14 07:27:45'),
   9807],
  [593,
   '19404971_091215',
   Timestamp('2015-12-14 07:35:45'),
   Timestamp('2015-12-14 07:35:45'),
   9807],
  [594,
   '19404972_091215',
   Timestamp('2015-12-14 07:43:45'),
   Timestamp('2015-12-14 07:43:45'),
   9807],
  [595,
   '19404973_091215',
   Timestamp('2015-12-14 07:52:45'),
   Timestamp('2015-12-14 07:52:45'),
   9807],
  [596,
   '19404974_091215',
   Timestamp('2015-12-14 08:02:45'),
   Timestamp('2015-12-14 08:02:45'),
   9807],
  [597,
   '19404975_091215',
   Timestamp('2015-12-14 08:12:45'),
   Timestamp('2015-12-14 08:12:45'),
   9807],
  [598,
   '19404976_091215',
   Timestamp('2015-12-14 08:23:45'),
   Timestamp('2015-12-14 08:23:45'),
   9807]],
 12889: [[572,
   '19404968_091215',
   Timestamp('2015-12-14 07:06:50'),
   Timestamp('2015-12-14 07:06:50'),
   9807],
  [573,
   '19404969_091215',
   Timestamp('2015-12-14 07:16:50'),
   Timestamp('2015-12-14 07:16:50'),
   9807],
  [574,
   '19404970_091215',
   Timestamp('2015-12-14 07:24:50'),
   Timestamp('2015-12-14 07:24:50'),
   9807],
  [575,
   '19404971_091215',
   Timestamp('2015-12-14 07:32:50'),
   Timestamp('2015-12-14 07:32:50'),
   9807],
  [576,
   '19404972_091215',
   Timestamp('2015-12-14 07:40:50'),
   Timestamp('2015-12-14 07:40:50'),
   9807],
  [577,
   '19404973_091215',
   Timestamp('2015-12-14 07:49:50'),
   Timestamp('2015-12-14 07:49:50'),
   9807],
  [578,
   '19404974_091215',
   Timestamp('2015-12-14 07:59:50'),
   Timestamp('2015-12-14 07:59:50'),
   9807],
  [579,
   '19404975_091215',
   Timestamp('2015-12-14 08:09:50'),
   Timestamp('2015-12-14 08:09:50'),
   9807],
  [580,
   '19404976_091215',
   Timestamp('2015-12-14 08:20:50'),
   Timestamp('2015-12-14 08:20:50'),
   9807]],
 12893: [[151,
   '19407595_081215',
   Timestamp('2015-12-14 07:18:31'),
   Timestamp('2015-12-14 07:18:31'),
   2544],
  [152,
   '19407596_081215',
   Timestamp('2015-12-14 07:27:31'),
   Timestamp('2015-12-14 07:27:31'),
   2544],
  [153,
   '19407597_081215',
   Timestamp('2015-12-14 07:36:31'),
   Timestamp('2015-12-14 07:36:31'),
   2544],
  [154,
   '19407598_081215',
   Timestamp('2015-12-14 07:45:31'),
   Timestamp('2015-12-14 07:45:31'),
   2544],
  [155,
   '19407599_081215',
   Timestamp('2015-12-14 07:54:31'),
   Timestamp('2015-12-14 07:54:31'),
   2544],
  [156,
   '19407600_081215',
   Timestamp('2015-12-14 08:03:31'),
   Timestamp('2015-12-14 08:03:31'),
   2544],
  [157,
   '19407601_081215',
   Timestamp('2015-12-14 08:13:31'),
   Timestamp('2015-12-14 08:13:31'),
   2544],
  [158,
   '19407602_081215',
   Timestamp('2015-12-14 08:23:31'),
   Timestamp('2015-12-14 08:23:31'),
   2544],
  [159,
   '19407594_081215',
   Timestamp('2015-12-14 07:08:31'),
   Timestamp('2015-12-14 07:08:31'),
   2544]],
 12894: [[274,
   '19404967_091215',
   Timestamp('2015-12-14 07:00:27'),
   Timestamp('2015-12-14 07:00:27'),
   9807],
  [275,
   '19404968_091215',
   Timestamp('2015-12-14 07:12:27'),
   Timestamp('2015-12-14 07:12:27'),
   9807],
  [276,
   '19404969_091215',
   Timestamp('2015-12-14 07:22:27'),
   Timestamp('2015-12-14 07:22:27'),
   9807],
  [277,
   '19404970_091215',
   Timestamp('2015-12-14 07:30:27'),
   Timestamp('2015-12-14 07:30:27'),
   9807],
  [278,
   '19404971_091215',
   Timestamp('2015-12-14 07:38:27'),
   Timestamp('2015-12-14 07:38:27'),
   9807],
  [279,
   '19404972_091215',
   Timestamp('2015-12-14 07:46:27'),
   Timestamp('2015-12-14 07:46:27'),
   9807],
  [280,
   '19404973_091215',
   Timestamp('2015-12-14 07:55:27'),
   Timestamp('2015-12-14 07:55:27'),
   9807],
  [281,
   '19404974_091215',
   Timestamp('2015-12-14 08:05:27'),
   Timestamp('2015-12-14 08:05:27'),
   9807],
  [282,
   '19404975_091215',
   Timestamp('2015-12-14 08:15:27'),
   Timestamp('2015-12-14 08:15:27'),
   9807],
  [283,
   '19404976_091215',
   Timestamp('2015-12-14 08:26:27'),
   Timestamp('2015-12-14 08:26:27'),
   9807]],
 12935: [[179,
   '19407595_081215',
   Timestamp('2015-12-14 07:22:24'),
   Timestamp('2015-12-14 07:22:24'),
   2544],
  [180,
   '19407596_081215',
   Timestamp('2015-12-14 07:31:24'),
   Timestamp('2015-12-14 07:31:24'),
   2544],
  [181,
   '19407597_081215',
   Timestamp('2015-12-14 07:40:24'),
   Timestamp('2015-12-14 07:40:24'),
   2544],
  [182,
   '19407598_081215',
   Timestamp('2015-12-14 07:49:24'),
   Timestamp('2015-12-14 07:49:24'),
   2544],
  [183,
   '19407599_081215',
   Timestamp('2015-12-14 07:58:24'),
   Timestamp('2015-12-14 07:58:24'),
   2544],
  [184,
   '19407600_081215',
   Timestamp('2015-12-14 08:07:24'),
   Timestamp('2015-12-14 08:07:24'),
   2544],
  [185,
   '19407601_081215',
   Timestamp('2015-12-14 08:17:24'),
   Timestamp('2015-12-14 08:17:24'),
   2544],
  [186,
   '19407602_081215',
   Timestamp('2015-12-14 08:27:24'),
   Timestamp('2015-12-14 08:27:24'),
   2544],
  [187,
   '19407593_081215',
   Timestamp('2015-12-14 07:01:24'),
   Timestamp('2015-12-14 07:01:24'),
   2544],
  [188,
   '19407594_081215',
   Timestamp('2015-12-14 07:12:24'),
   Timestamp('2015-12-14 07:12:24'),
   2544]],
 12962: [[0,
   '19407596_081215',
   Timestamp('2015-12-14 07:06:06'),
   Timestamp('2015-12-14 07:06:06'),
   2544],
  [1,
   '19407597_081215',
   Timestamp('2015-12-14 07:15:06'),
   Timestamp('2015-12-14 07:15:06'),
   2544],
  [2,
   '19407598_081215',
   Timestamp('2015-12-14 07:24:06'),
   Timestamp('2015-12-14 07:24:06'),
   2544],
  [3,
   '19407599_081215',
   Timestamp('2015-12-14 07:33:06'),
   Timestamp('2015-12-14 07:33:06'),
   2544],
  [4,
   '19407600_081215',
   Timestamp('2015-12-14 07:42:06'),
   Timestamp('2015-12-14 07:42:06'),
   2544],
  [5,
   '19407601_081215',
   Timestamp('2015-12-14 07:52:06'),
   Timestamp('2015-12-14 07:52:06'),
   2544],
  [6,
   '19407602_081215',
   Timestamp('2015-12-14 08:02:06'),
   Timestamp('2015-12-14 08:02:06'),
   2544],
  [7,
   '19407603_081215',
   Timestamp('2015-12-14 08:12:06'),
   Timestamp('2015-12-14 08:12:06'),
   2544],
  [8,
   '19407604_081215',
   Timestamp('2015-12-14 08:22:06'),
   Timestamp('2015-12-14 08:22:06'),
   2544]],
 12979: [[9,
   '19407596_081215',
   Timestamp('2015-12-14 07:07:20'),
   Timestamp('2015-12-14 07:07:20'),
   2544],
  [10,
   '19407597_081215',
   Timestamp('2015-12-14 07:16:20'),
   Timestamp('2015-12-14 07:16:20'),
   2544],
  [11,
   '19407598_081215',
   Timestamp('2015-12-14 07:25:20'),
   Timestamp('2015-12-14 07:25:20'),
   2544],
  [12,
   '19407599_081215',
   Timestamp('2015-12-14 07:34:20'),
   Timestamp('2015-12-14 07:34:20'),
   2544],
  [13,
   '19407600_081215',
   Timestamp('2015-12-14 07:43:20'),
   Timestamp('2015-12-14 07:43:20'),
   2544],
  [14,
   '19407601_081215',
   Timestamp('2015-12-14 07:53:20'),
   Timestamp('2015-12-14 07:53:20'),
   2544],
  [15,
   '19407602_081215',
   Timestamp('2015-12-14 08:03:20'),
   Timestamp('2015-12-14 08:03:20'),
   2544],
  [16,
   '19407603_081215',
   Timestamp('2015-12-14 08:13:20'),
   Timestamp('2015-12-14 08:13:20'),
   2544],
  [17,
   '19407604_081215',
   Timestamp('2015-12-14 08:23:20'),
   Timestamp('2015-12-14 08:23:20'),
   2544]],
 13019: [[209,
   '19407595_081215',
   Timestamp('2015-12-14 07:27:20'),
   Timestamp('2015-12-14 07:27:20'),
   2544],
  [210,
   '19407596_081215',
   Timestamp('2015-12-14 07:36:20'),
   Timestamp('2015-12-14 07:36:20'),
   2544],
  [211,
   '19407597_081215',
   Timestamp('2015-12-14 07:45:20'),
   Timestamp('2015-12-14 07:45:20'),
   2544],
  [212,
   '19407598_081215',
   Timestamp('2015-12-14 07:54:20'),
   Timestamp('2015-12-14 07:54:20'),
   2544],
  [213,
   '19407599_081215',
   Timestamp('2015-12-14 08:03:20'),
   Timestamp('2015-12-14 08:03:20'),
   2544],
  [214,
   '19407600_081215',
   Timestamp('2015-12-14 08:12:20'),
   Timestamp('2015-12-14 08:12:20'),
   2544],
  [215,
   '19407601_081215',
   Timestamp('2015-12-14 08:22:20'),
   Timestamp('2015-12-14 08:22:20'),
   2544],
  [216,
   '19407593_081215',
   Timestamp('2015-12-14 07:06:20'),
   Timestamp('2015-12-14 07:06:20'),
   2544],
  [217,
   '19407594_081215',
   Timestamp('2015-12-14 07:17:20'),
   Timestamp('2015-12-14 07:17:20'),
   2544]],
 13032: [[47,
   '19407595_081215',
   Timestamp('2015-12-14 07:04:53'),
   Timestamp('2015-12-14 07:04:53'),
   2544],
  [48,
   '19407596_081215',
   Timestamp('2015-12-14 07:13:53'),
   Timestamp('2015-12-14 07:13:53'),
   2544],
  [49,
   '19407597_081215',
   Timestamp('2015-12-14 07:22:53'),
   Timestamp('2015-12-14 07:22:53'),
   2544],
  [50,
   '19407598_081215',
   Timestamp('2015-12-14 07:31:53'),
   Timestamp('2015-12-14 07:31:53'),
   2544],
  [51,
   '19407599_081215',
   Timestamp('2015-12-14 07:40:53'),
   Timestamp('2015-12-14 07:40:53'),
   2544],
  [52,
   '19407600_081215',
   Timestamp('2015-12-14 07:49:53'),
   Timestamp('2015-12-14 07:49:53'),
   2544],
  [53,
   '19407601_081215',
   Timestamp('2015-12-14 07:59:53'),
   Timestamp('2015-12-14 07:59:53'),
   2544],
  [54,
   '19407602_081215',
   Timestamp('2015-12-14 08:09:53'),
   Timestamp('2015-12-14 08:09:53'),
   2544],
  [55,
   '19407603_081215',
   Timestamp('2015-12-14 08:19:53'),
   Timestamp('2015-12-14 08:19:53'),
   2544],
  [56,
   '19407604_081215',
   Timestamp('2015-12-14 08:29:53'),
   Timestamp('2015-12-14 08:29:53'),
   2544]],
 13065: [[169,
   '19407595_081215',
   Timestamp('2015-12-14 07:21:30'),
   Timestamp('2015-12-14 07:21:30'),
   2544],
  [170,
   '19407596_081215',
   Timestamp('2015-12-14 07:30:30'),
   Timestamp('2015-12-14 07:30:30'),
   2544],
  [171,
   '19407597_081215',
   Timestamp('2015-12-14 07:39:30'),
   Timestamp('2015-12-14 07:39:30'),
   2544],
  [172,
   '19407598_081215',
   Timestamp('2015-12-14 07:48:30'),
   Timestamp('2015-12-14 07:48:30'),
   2544],
  [173,
   '19407599_081215',
   Timestamp('2015-12-14 07:57:30'),
   Timestamp('2015-12-14 07:57:30'),
   2544],
  [174,
   '19407600_081215',
   Timestamp('2015-12-14 08:06:30'),
   Timestamp('2015-12-14 08:06:30'),
   2544],
  [175,
   '19407601_081215',
   Timestamp('2015-12-14 08:16:30'),
   Timestamp('2015-12-14 08:16:30'),
   2544],
  [176,
   '19407602_081215',
   Timestamp('2015-12-14 08:26:30'),
   Timestamp('2015-12-14 08:26:30'),
   2544],
  [177,
   '19407593_081215',
   Timestamp('2015-12-14 07:00:30'),
   Timestamp('2015-12-14 07:00:30'),
   2544],
  [178,
   '19407594_081215',
   Timestamp('2015-12-14 07:11:30'),
   Timestamp('2015-12-14 07:11:30'),
   2544]],
 13066: [[189,
   '19407595_081215',
   Timestamp('2015-12-14 07:23:33'),
   Timestamp('2015-12-14 07:23:33'),
   2544],
  [190,
   '19407596_081215',
   Timestamp('2015-12-14 07:32:33'),
   Timestamp('2015-12-14 07:32:33'),
   2544],
  [191,
   '19407597_081215',
   Timestamp('2015-12-14 07:41:33'),
   Timestamp('2015-12-14 07:41:33'),
   2544],
  [192,
   '19407598_081215',
   Timestamp('2015-12-14 07:50:33'),
   Timestamp('2015-12-14 07:50:33'),
   2544],
  [193,
   '19407599_081215',
   Timestamp('2015-12-14 07:59:33'),
   Timestamp('2015-12-14 07:59:33'),
   2544],
  [194,
   '19407600_081215',
   Timestamp('2015-12-14 08:08:33'),
   Timestamp('2015-12-14 08:08:33'),
   2544],
  [195,
   '19407601_081215',
   Timestamp('2015-12-14 08:18:33'),
   Timestamp('2015-12-14 08:18:33'),
   2544],
  [196,
   '19407602_081215',
   Timestamp('2015-12-14 08:28:33'),
   Timestamp('2015-12-14 08:28:33'),
   2544],
  [197,
   '19407593_081215',
   Timestamp('2015-12-14 07:02:33'),
   Timestamp('2015-12-14 07:02:33'),
   2544],
  [198,
   '19407594_081215',
   Timestamp('2015-12-14 07:13:33'),
   Timestamp('2015-12-14 07:13:33'),
   2544]],
 13101: [[66,
   '19407595_081215',
   Timestamp('2015-12-14 07:07:44'),
   Timestamp('2015-12-14 07:07:44'),
   2544],
  [67,
   '19407596_081215',
   Timestamp('2015-12-14 07:16:44'),
   Timestamp('2015-12-14 07:16:44'),
   2544],
  [68,
   '19407597_081215',
   Timestamp('2015-12-14 07:25:44'),
   Timestamp('2015-12-14 07:25:44'),
   2544],
  [69,
   '19407598_081215',
   Timestamp('2015-12-14 07:34:44'),
   Timestamp('2015-12-14 07:34:44'),
   2544],
  [70,
   '19407599_081215',
   Timestamp('2015-12-14 07:43:44'),
   Timestamp('2015-12-14 07:43:44'),
   2544],
  [71,
   '19407600_081215',
   Timestamp('2015-12-14 07:52:44'),
   Timestamp('2015-12-14 07:52:44'),
   2544],
  [72,
   '19407601_081215',
   Timestamp('2015-12-14 08:02:44'),
   Timestamp('2015-12-14 08:02:44'),
   2544],
  [73,
   '19407602_081215',
   Timestamp('2015-12-14 08:12:44'),
   Timestamp('2015-12-14 08:12:44'),
   2544],
  [74,
   '19407603_081215',
   Timestamp('2015-12-14 08:22:44'),
   Timestamp('2015-12-14 08:22:44'),
   2544]],
 13120: [[57,
   '19407595_081215',
   Timestamp('2015-12-14 07:05:50'),
   Timestamp('2015-12-14 07:05:50'),
   2544],
  [58,
   '19407596_081215',
   Timestamp('2015-12-14 07:14:50'),
   Timestamp('2015-12-14 07:14:50'),
   2544],
  [59,
   '19407597_081215',
   Timestamp('2015-12-14 07:23:50'),
   Timestamp('2015-12-14 07:23:50'),
   2544],
  [60,
   '19407598_081215',
   Timestamp('2015-12-14 07:32:50'),
   Timestamp('2015-12-14 07:32:50'),
   2544],
  [61,
   '19407599_081215',
   Timestamp('2015-12-14 07:41:50'),
   Timestamp('2015-12-14 07:41:50'),
   2544],
  [62,
   '19407600_081215',
   Timestamp('2015-12-14 07:50:50'),
   Timestamp('2015-12-14 07:50:50'),
   2544],
  [63,
   '19407601_081215',
   Timestamp('2015-12-14 08:00:50'),
   Timestamp('2015-12-14 08:00:50'),
   2544],
  [64,
   '19407602_081215',
   Timestamp('2015-12-14 08:10:50'),
   Timestamp('2015-12-14 08:10:50'),
   2544],
  [65,
   '19407603_081215',
   Timestamp('2015-12-14 08:20:50'),
   Timestamp('2015-12-14 08:20:50'),
   2544]],
 13123: [[94,
   '19407595_081215',
   Timestamp('2015-12-14 07:11:03'),
   Timestamp('2015-12-14 07:11:03'),
   2544],
  [95,
   '19407596_081215',
   Timestamp('2015-12-14 07:20:03'),
   Timestamp('2015-12-14 07:20:03'),
   2544],
  [96,
   '19407597_081215',
   Timestamp('2015-12-14 07:29:03'),
   Timestamp('2015-12-14 07:29:03'),
   2544],
  [97,
   '19407598_081215',
   Timestamp('2015-12-14 07:38:03'),
   Timestamp('2015-12-14 07:38:03'),
   2544],
  [98,
   '19407599_081215',
   Timestamp('2015-12-14 07:47:03'),
   Timestamp('2015-12-14 07:47:03'),
   2544],
  [99,
   '19407600_081215',
   Timestamp('2015-12-14 07:56:03'),
   Timestamp('2015-12-14 07:56:03'),
   2544],
  [100,
   '19407601_081215',
   Timestamp('2015-12-14 08:06:03'),
   Timestamp('2015-12-14 08:06:03'),
   2544],
  [101,
   '19407602_081215',
   Timestamp('2015-12-14 08:16:03'),
   Timestamp('2015-12-14 08:16:03'),
   2544],
  [102,
   '19407603_081215',
   Timestamp('2015-12-14 08:26:03'),
   Timestamp('2015-12-14 08:26:03'),
   2544],
  [103,
   '19407594_081215',
   Timestamp('2015-12-14 07:01:03'),
   Timestamp('2015-12-14 07:01:03'),
   2544]],
 13143: [[142,
   '19407595_081215',
   Timestamp('2015-12-14 07:16:54'),
   Timestamp('2015-12-14 07:16:54'),
   2544],
  [143,
   '19407596_081215',
   Timestamp('2015-12-14 07:25:54'),
   Timestamp('2015-12-14 07:25:54'),
   2544],
  [144,
   '19407597_081215',
   Timestamp('2015-12-14 07:34:54'),
   Timestamp('2015-12-14 07:34:54'),
   2544],
  [145,
   '19407598_081215',
   Timestamp('2015-12-14 07:43:54'),
   Timestamp('2015-12-14 07:43:54'),
   2544],
  [146,
   '19407599_081215',
   Timestamp('2015-12-14 07:52:54'),
   Timestamp('2015-12-14 07:52:54'),
   2544],
  [147,
   '19407600_081215',
   Timestamp('2015-12-14 08:01:54'),
   Timestamp('2015-12-14 08:01:54'),
   2544],
  [148,
   '19407601_081215',
   Timestamp('2015-12-14 08:11:54'),
   Timestamp('2015-12-14 08:11:54'),
   2544],
  [149,
   '19407602_081215',
   Timestamp('2015-12-14 08:21:54'),
   Timestamp('2015-12-14 08:21:54'),
   2544],
  [150,
   '19407594_081215',
   Timestamp('2015-12-14 07:06:54'),
   Timestamp('2015-12-14 07:06:54'),
   2544]],
 13188: [[265,
   '19407596_081215',
   Timestamp('2015-12-14 07:04:38'),
   Timestamp('2015-12-14 07:04:38'),
   2544],
  [266,
   '19407597_081215',
   Timestamp('2015-12-14 07:13:38'),
   Timestamp('2015-12-14 07:13:38'),
   2544],
  [267,
   '19407598_081215',
   Timestamp('2015-12-14 07:22:38'),
   Timestamp('2015-12-14 07:22:38'),
   2544],
  [268,
   '19407599_081215',
   Timestamp('2015-12-14 07:31:38'),
   Timestamp('2015-12-14 07:31:38'),
   2544],
  [269,
   '19407600_081215',
   Timestamp('2015-12-14 07:40:38'),
   Timestamp('2015-12-14 07:40:38'),
   2544],
  [270,
   '19407601_081215',
   Timestamp('2015-12-14 07:50:38'),
   Timestamp('2015-12-14 07:50:38'),
   2544],
  [271,
   '19407602_081215',
   Timestamp('2015-12-14 08:00:38'),
   Timestamp('2015-12-14 08:00:38'),
   2544],
  [272,
   '19407603_081215',
   Timestamp('2015-12-14 08:10:38'),
   Timestamp('2015-12-14 08:10:38'),
   2544],
  [273,
   '19407604_081215',
   Timestamp('2015-12-14 08:20:38'),
   Timestamp('2015-12-14 08:20:38'),
   2544]],
 13191: [[18,
   '19407596_081215',
   Timestamp('2015-12-14 07:08:38'),
   Timestamp('2015-12-14 07:08:38'),
   2544],
  [19,
   '19407597_081215',
   Timestamp('2015-12-14 07:17:38'),
   Timestamp('2015-12-14 07:17:38'),
   2544],
  [20,
   '19407598_081215',
   Timestamp('2015-12-14 07:26:38'),
   Timestamp('2015-12-14 07:26:38'),
   2544],
  [21,
   '19407599_081215',
   Timestamp('2015-12-14 07:35:38'),
   Timestamp('2015-12-14 07:35:38'),
   2544],
  [22,
   '19407600_081215',
   Timestamp('2015-12-14 07:44:38'),
   Timestamp('2015-12-14 07:44:38'),
   2544],
  [23,
   '19407601_081215',
   Timestamp('2015-12-14 07:54:38'),
   Timestamp('2015-12-14 07:54:38'),
   2544],
  [24,
   '19407602_081215',
   Timestamp('2015-12-14 08:04:38'),
   Timestamp('2015-12-14 08:04:38'),
   2544],
  [25,
   '19407603_081215',
   Timestamp('2015-12-14 08:14:38'),
   Timestamp('2015-12-14 08:14:38'),
   2544],
  [26,
   '19407604_081215',
   Timestamp('2015-12-14 08:24:38'),
   Timestamp('2015-12-14 08:24:38'),
   2544]],
 13199: [[84,
   '19407595_081215',
   Timestamp('2015-12-14 07:10:35'),
   Timestamp('2015-12-14 07:10:35'),
   2544],
  [85,
   '19407596_081215',
   Timestamp('2015-12-14 07:19:35'),
   Timestamp('2015-12-14 07:19:35'),
   2544],
  [86,
   '19407597_081215',
   Timestamp('2015-12-14 07:28:35'),
   Timestamp('2015-12-14 07:28:35'),
   2544],
  [87,
   '19407598_081215',
   Timestamp('2015-12-14 07:37:35'),
   Timestamp('2015-12-14 07:37:35'),
   2544],
  [88,
   '19407599_081215',
   Timestamp('2015-12-14 07:46:35'),
   Timestamp('2015-12-14 07:46:35'),
   2544],
  [89,
   '19407600_081215',
   Timestamp('2015-12-14 07:55:35'),
   Timestamp('2015-12-14 07:55:35'),
   2544],
  [90,
   '19407601_081215',
   Timestamp('2015-12-14 08:05:35'),

In [252]:
DEPARTURE_INDEX = 3
for stop, nodes in stops_to_nodes.items():
    stops_to_nodes[stop] = sorted(nodes, key=lambda x: x[DEPARTURE_INDEX])

In [253]:
total_values = 0
max_nodes_in_stop = 0
for n in stops_to_nodes.values():
    num_nodes = len(n)
    if num_nodes > max_nodes_in_stop:
        max_nodes_in_stop = num_nodes
    total_values += num_nodes
print(f'There is a total of {total_values} nodes in the stops_to_nodes dictionary')

There is a total of 608 nodes in the stops_to_nodes dictionary

In [254]:
len(stops_to_nodes)

64

In [255]:
print(f'We have an average of {total_values/len(stops_to_nodes)}, and a max of {max_nodes_in_stop} nodes in a single stop.')

We have an average of 9.5, and a max of 19 nodes in a single stop.

In [256]:
ARRIVAL_INDEX = 2
DEPARTURE_INDEX = 3
ROUTE_ID_INDEX = 4
MAX_WAIT_TIME = dt.timedelta(minutes=10)
def get_transfer_edges_from_nodes(stops_to_nodes_batch):
    print('Processing batch...')
    stops_to_nodes_batch = dict(stops_to_nodes_batch)
    transfer_edges = []
    for stop, nodes in tqdm(stops_to_nodes_batch.items()):
#         print(f'Handling stop: {stop}')
        for start_n in nodes:
#             print(f'Start node: {start_n}')
            nearby_stops_df = stops_mapping_200m_df[stops_mapping_200m_df['from_stop_id'] == stop]
            # Add current stop to check transfers from the same stop
            nearby_stops_df.append({'from_stop_id': [stop], 'to_stop_id': [stop], 'dist': [0], 'walk_time_sec': [0]}, ignore_index=True)
            # TODO: verify this we're not staying to the same line in same direction
#             print(f'Going though nearby stops')
            for s in nearby_stops_df.iterrows():
                nearby_stop_id = s[1]['to_stop_id']
#                 print(f'Nearby stop: {nearby_stop_id}')
                if nearby_stop_id not in stops_to_nodes:
                    # Some stops don't have trips that operate all week. Some operate only on weekends.
                    # If this is such a stop we should continue to look at other stops, we won't find any
                    # nodes here.
                    continue
                nearby_nodes = stops_to_nodes[nearby_stop_id]
                second_line_earliest_start_time = start_n[ARRIVAL_INDEX] + dt.timedelta(seconds=s[1]['walk_time_sec'])
                second_line_latest_start_time = second_line_earliest_start_time + MAX_WAIT_TIME
                # Find index of first node that departs at least at second_start_time or later
                _, _, _, departures, _ = zip(*nearby_nodes)
                i = bisect.bisect_left(departures, second_line_earliest_start_time)
#                 print(f'Number of nodes in current stop: {len(nearby_nodes)}')
                while (i < len(nearby_nodes) and 
                       nearby_nodes[i][DEPARTURE_INDEX] >= second_line_earliest_start_time and 
                       nearby_nodes[i][DEPARTURE_INDEX] <= second_line_latest_start_time):
#                     print(f'Handling node with index {i}: {nearby_nodes[i]}')
                    node = nearby_nodes[i][0]
                    if node == start_n[0] or (nearby_nodes[i][ROUTE_ID_INDEX] == start_n[ROUTE_ID_INDEX] and s == stop):
                        # We don't wish to transfer to the same node (no self-edges). 
                        # Another case we wish to avoid is transferring to the same line (route__id) in the same stop.
                        i += 1
                        continue
                    transfer_edges.append((start_n[0], nearby_nodes[i][0], nearby_nodes[i][DEPARTURE_INDEX] - start_n[ARRIVAL_INDEX]))
                    i += 1
    return transfer_edges

In [257]:
# transfer_edges = run_parallel_dict(stops_to_nodes, 1000, get_transfer_edges_from_nodes)

In [258]:
transfer_edges = get_transfer_edges_from_nodes(stops_to_nodes)

Processing batch...

HBox(children=(IntProgress(value=0, max=64), HTML(value='')))

In [259]:
len(transfer_edges)

550

In [260]:
transfer_edges[:3]

[(599, 600, Timedelta('0 days 00:10:00')),
 (600, 601, Timedelta('0 days 00:08:00')),
 (601, 602, Timedelta('0 days 00:08:00'))]

In [68]:
nodes_df[nodes_df['node_id'] == 9]

,index,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
9,90,19415585_091215,07:12:00,07:12:00,12936,2,9823,07:10:00,21227,32.106707,34.802776,2015-12-14 07:12:00,2015-12-14 07:12:00,9

In [69]:
nodes_df[nodes_df['node_id'] == 63]

,index,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
63,639,19415585_091215,07:20:01,07:20:01,13950,11,9823,07:10:00,26315,32.106109,34.8045,2015-12-14 07:20:01,2015-12-14 07:20:01,63

## TODO: we should eliminate transfers of the same trip_id

In [261]:
transfer_edges_sec = []
for s, t, w in transfer_edges:
    transfer_edges_sec.append((s, t, w.total_seconds()))

In [262]:
transfer_edges_sec[0:5]

[(599, 600, 600.0),
 (600, 601, 480.0),
 (601, 602, 480.0),
 (602, 603, 480.0),
 (603, 604, 540.0)]

In [263]:
import pickle
with open(OUTPUT_PATH + FILES_PREFIX + '_transfer_edges.pkl', 'wb') as f:
    print(f'Saving transfers to file {f.name}')
    pickle.dump(transfer_edges_sec, f)

Saving transfers to file ../../../output_data/validation/two_lines/morning_transfer_edges.pkl

## Let's check some transfers manually

In [46]:
transfer_edges[1000:1005]

[(1120240, 3243432, Timedelta('0 days 00:06:00')),
 (1120240, 3243400, Timedelta('0 days 00:14:04')),
 (1120240, 3243469, Timedelta('0 days 00:11:49')),
 (1120240, 1119942, Timedelta('0 days 00:09:52')),
 (1120240, 1119886, Timedelta('0 days 00:12:17'))]

In [47]:
nodes_df[nodes_df['node_id'] == 3243432]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
3243432,36877179_271019,08:41:49,08:41:49,38971,39,25434,_,07:50:00,30064,31.947781,34.823278,2019-11-03 08:41:49,2019-11-03 08:41:49,3243432

In [48]:
nodes_df[nodes_df['node_id'] == 1120240]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
1120240,42245728_271019,08:35:49,08:35:49,76,53,25581,,07:40:00,38906,31.948552,34.822422,2019-11-03 08:35:49,2019-11-03 08:35:49,1120240

In [49]:
nodes_df[nodes_df['node_id'] == 3243400]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
3243400,36873380_271019,08:49:53,08:49:53,38971,31,25405,_,08:10:00,30064,31.947781,34.823278,2019-11-03 08:49:53,2019-11-03 08:49:53,3243400

In [50]:
transfer_edges[4000000:4000002]

[(1763216, 3026510, Timedelta('0 days 00:09:05')),
 (1763216, 3026503, Timedelta('0 days 00:14:05'))]

In [51]:
nodes_df[nodes_df['node_id'] == 3026510]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
3026510,42299653_011119,09:00:00,09:00:00,42875,1,51,_,09:00:00,20001,32.083157,34.796091,2019-11-03 09:00:00,2019-11-03 09:00:00,3026510

In [52]:
nodes_df[nodes_df['node_id'] == 1763216]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
1763216,36873382_271019,08:50:55,08:50:55,38946,2,25405,_,08:50:00,20015,32.081706,34.795561,2019-11-03 08:50:55,2019-11-03 08:50:55,1763216

In [53]:
nodes_df[nodes_df['node_id'] == 3026503]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
3026503,35771757_271019,09:05:00,09:05:00,42875,1,20871,_,09:05:00,20001,32.083157,34.796091,2019-11-03 09:05:00,2019-11-03 09:05:00,3026503