## GTFS - Transfer Edges

In [74]:
import bisect
import pandas as pd
import datetime
import numpy as np
import geopy.distance
from tqdm.auto import tqdm
from tqdm import tqdm_notebook
tqdm.pandas()
import dask.dataframe as dd
from dask.multiprocessing import get
from geopy.point import Point
import datetime as dt
from multiprocessing import Pool, cpu_count
from contextlib import closing
import math

from dask.diagnostics import ProgressBar
ProgressBar().register()

DATA_PATH = '../../../input_data/synthetic_examples/input_data/Test0_b_TwoLines/'

In [75]:
OUTPUT_PATH = '../../../output_data/validation/two_lines/'

In [76]:
DAY = dt.datetime(2015, 12, 14)

## Load Nodes

In [77]:
# Load nodes
FILES_PREFIX = 'morning'
file_name = OUTPUT_PATH + FILES_PREFIX + '_nodes.pkl'
print(f'Loading nodes from file {file_name}')
nodes_df = pd.read_pickle(file_name)
nodes_df.head(3)

Loading nodes from file ../../../output_data/validation/two_lines/morning_nodes.pkl

,index,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
0,22,18854212_161215,07:35:48,07:35:48,13257,30,9823,06:53:00,22557,32.040172,34.775255,2015-12-14 07:35:48,2015-12-14 07:35:48,0
1,40,18854213_161215,07:52:48,07:52:48,13257,30,9823,07:10:00,22557,32.040172,34.775255,2015-12-14 07:52:48,2015-12-14 07:52:48,1
2,41,18854214_161215,08:22:48,08:22:48,13257,30,9823,07:40:00,22557,32.040172,34.775255,2015-12-14 08:22:48,2015-12-14 08:22:48,2

In [78]:
nodes_df.shape

(557, 14)

In [79]:
nodes_df.nunique()

index                            557
trip_id                           22
arrival_time                     533
departure_time_stop              533
stop_id                           80
stop_sequence                     50
route_id                           2
departure_time_trip_departure     21
stop_code                         80
stop_lat                          80
stop_lon                          80
arrival                          533
departure                        533
node_id                          557
dtype: int64

### Filter nodes for development

In [80]:
# start_time = DAY + dt.timedelta(hours=8)
# end_time = start_time + dt.timedelta(minutes=10)

# nodes_df = nodes_df[nodes_df['arrival'] > start_time][nodes_df['arrival'] < end_time]

In [81]:
# nodes_df.shape

In [82]:
# nodes_df.nunique()

## Parallelizing

In [83]:
def run_parallel_df(df_grouped, func):
    with closing(Pool()) as pool:
        res_list = pool.map(func, [group for name, group in df_grouped])
    return pd.concat(res_list)

In [84]:
def run_parallel_dict(data, num_of_batches, func):
    batch_size = math.ceil(len(data) / num_of_batches)
    with closing(Pool()) as pool:
#         res_list = []
        data_items = list(data.items())
        print(f'Processing data in workers pool. Numner of batches is {num_of_batches} where each batch has approx. {batch_size} keys')
        sliced_data = [data_items[i:i+batch_size] for i in range(num_of_batches)]
        print('Finished slicing the data.')
#         curr_batch = 1
        res_list = pool.map(func, sliced_data)
#         for res in tqdm_notebook(pool.imap(func, sliced_data), total=num_of_batches):
#             res_list.append(res)
#             print(f'Finished processing batch number {curr_batch} of {num_of_batches} total. Number of transfers from this batch: {len(res)}')
#             curr_batch += 1
    return [item for sublist in res_list for item in sublist]

#### Testing parallelization

In [85]:
# d = {'a': [1,2,3], 'b':[1]}
# # num_of_batches = 2
# # d_items = list(d.items())
# # batch_size = math.ceil(len(d) / num_of_batches)
# # sliced_d = [d_items[i:i+batch_size] for i in range(num_of_batches)]
# # print(len(d))

# def print_dict_with_sleep(data):
#     print('processing..')
#     data = dict(data)
#     for k,v in data.items():
#         print(len(v))
# #     time.sleep(3)
# run_parallel_dict(d, 2, print_dict_with_sleep)

## Load Nearby Stops

In [86]:
stops_mapping_df = pd.read_csv(DATA_PATH + 'StopsToStops.csv')

In [87]:
stops_mapping_df.head(3)

    NEAR_DIST  IN_STOP_ID  NEAR_STOP_ID
0  175.710767       12936         13950
1  199.559271       12936         13049
2  199.559271       13049         12936

In [88]:
stops_mapping_df.columns = ['NEAR_DIST', 'IN_FID', 'NEAR_FID']

In [89]:
# stops_mapping_df.shape

In [90]:
# stops_mapping_df.nunique()

If we allow walking 300 meters we get an average of 6.24 transfers to neighboring stops from each stop.

In [91]:
# TODO: 
# change walk speed to 1m/s - IMPL
# maybe switch to 100-150
# 15 minutes walk + wait

# hoping to get to 10-20 edges per node

In [92]:
stops_df = pd.read_csv(DATA_PATH + 'stops.txt')

### Get all stops from which we wish to start computations

In [93]:
nodes_df.head()

,index,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
0,22,18854212_161215,07:35:48,07:35:48,13257,30,9823,06:53:00,22557,32.040172,34.775255,2015-12-14 07:35:48,2015-12-14 07:35:48,0
1,40,18854213_161215,07:52:48,07:52:48,13257,30,9823,07:10:00,22557,32.040172,34.775255,2015-12-14 07:52:48,2015-12-14 07:52:48,1
2,41,18854214_161215,08:22:48,08:22:48,13257,30,9823,07:40:00,22557,32.040172,34.775255,2015-12-14 08:22:48,2015-12-14 08:22:48,2
3,49,18854385_161215,08:07:48,08:07:48,13257,30,9823,07:25:00,22557,32.040172,34.775255,2015-12-14 08:07:48,2015-12-14 08:07:48,3
4,63,18854384_161215,07:17:48,07:17:48,13257,30,9823,06:35:00,22557,32.040172,34.775255,2015-12-14 07:17:48,2015-12-14 07:17:48,4

In [94]:
t = DAY+dt.timedelta(hours=7, minutes=15)
start_nodes_df = nodes_df[nodes_df['departure'] < t]

In [95]:
start_nodes_df.shape

(79, 14)

In [96]:
start_nodes_df.head()

,index,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
5,85,18854211_161215,07:00:37,07:00:37,13428,31,9823,06:15:00,25273,32.037780,34.777806,2015-12-14 07:00:37,2015-12-14 07:00:37,5
11,149,18854211_161215,07:05:45,07:05:45,21520,32,9823,06:15:00,33347,32.027036,34.773495,2015-12-14 07:05:45,2015-12-14 07:05:45,11
16,213,18854211_161215,07:07:09,07:07:09,24141,33,9823,06:15:00,36375,32.023750,34.774357,2015-12-14 07:07:09,2015-12-14 07:07:09,16
21,277,18854211_161215,07:08:07,07:08:07,24135,34,9823,06:15:00,36367,32.021815,34.773176,2015-12-14 07:08:07,2015-12-14 07:08:07,21
26,341,18854211_161215,07:09:23,07:09:23,24717,35,9823,06:15:00,37566,32.018598,34.770659,2015-12-14 07:09:23,2015-12-14 07:09:23,26

#### Validation - let's find the most frequent origin stops and make sure it seems right.

In [97]:
# stops_mapping_150m_df.IN_FID.mode()

In [98]:
# stops_df.iloc[10841]

In [99]:
# stops_df.iloc[10841]

We can see this is the central bus station, which makes sense it will have the most possible transfers.

Now we must re-map the nearby stops to stop_id as used in the GTFS feeds.

In [100]:
stops_df['IN_FID'] = stops_df['stop_id']

In [101]:
stops_df[['IN_FID', 'stop_id']].head()

   IN_FID  stop_id
0     775      775
1   12882    12882
2   12936    12936
3   13042    13042
4   13049    13049

In [102]:
stops_df.shape

(80, 9)

In [103]:
stops_mapping_df.head(2)

    NEAR_DIST  IN_FID  NEAR_FID
0  175.710767   12936     13950
1  199.559271   12936     13049

In [104]:
stops_mapping_df = stops_mapping_df.merge(stops_df[['IN_FID', 'stop_id']], on='IN_FID', how='left')
stops_mapping_df.rename(columns={'stop_id':'from_stop_id'}, inplace=True)
stops_mapping_df = stops_mapping_df.merge(stops_df[['IN_FID', 'stop_id']], left_on='NEAR_FID', right_on='IN_FID', how='left')
stops_mapping_df.rename(columns={'stop_id':'to_stop_id', 'NEAR_DIST':'dist'}, inplace=True)

In [105]:
stops_mapping_df = stops_mapping_df[['from_stop_id', 'to_stop_id', 'dist']]
stops_mapping_df.head()

   from_stop_id  to_stop_id        dist
0         12936       13950  175.710767
1         12936       13049  199.559271
2         13049       12936  199.559271
3         13226       13226    0.000000
4         13598       29488  177.205069

In [106]:
AVG_WALK_SPEED = 1  # meters per second (m/s)
stops_mapping_df['walk_time_sec'] = stops_mapping_df['dist'] / AVG_WALK_SPEED

In [107]:
stops_mapping_df.head(3)

   from_stop_id  to_stop_id        dist  walk_time_sec
0         12936       13950  175.710767     175.710767
1         12936       13049  199.559271     199.559271
2         13049       12936  199.559271     199.559271

In [108]:
stops_mapping_df.to_csv(OUTPUT_PATH + 'nearby_stops.csv')

In [109]:
stops_mapping_df.to_pickle(OUTPUT_PATH + 'nearby_stops.pkl')

In [110]:
stops_mapping_df.shape

(98, 4)

In [111]:
stops_mapping_df.nunique()

from_stop_id     80
to_stop_id       80
dist             10
walk_time_sec    10
dtype: int64

In [112]:
# stops_mapping_df = pd.read_pickle(OUTPUT_PATH + 'nearby_stops.pkl')

In [113]:
stops_mapping_200m_df = stops_mapping_df[stops_mapping_df['dist'] < 200]

In [114]:
stops_mapping_200m_df.shape

(98, 4)

In [115]:
stops_mapping_200m_df.nunique()

from_stop_id     80
to_stop_id       80
dist             10
walk_time_sec    10
dtype: int64

## Compute Transfer Edges

In [116]:
stops_to_nodes = nodes_df.groupby('stop_id')[[
    'node_id', 'trip_id', 'arrival', 'departure', 'route_id']].apply(lambda g: g.values.tolist()).to_dict()

In [117]:
dict(list(stops_to_nodes.items())[0:2])

{775: [[31,
   '18854211_161215',
   Timestamp('2015-12-14 07:10:36'),
   Timestamp('2015-12-14 07:10:36'),
   9823],
  [32,
   '18854212_161215',
   Timestamp('2015-12-14 07:48:36'),
   Timestamp('2015-12-14 07:48:36'),
   9823],
  [33,
   '18854213_161215',
   Timestamp('2015-12-14 08:05:36'),
   Timestamp('2015-12-14 08:05:36'),
   9823],
  [34,
   '18854385_161215',
   Timestamp('2015-12-14 08:20:36'),
   Timestamp('2015-12-14 08:20:36'),
   9823],
  [35,
   '18854384_161215',
   Timestamp('2015-12-14 07:30:36'),
   Timestamp('2015-12-14 07:30:36'),
   9823]],
 12816: [[332,
   '19283212_161215',
   Timestamp('2015-12-14 07:08:16'),
   Timestamp('2015-12-14 07:08:16'),
   2517],
  [333,
   '19283218_161215',
   Timestamp('2015-12-14 08:05:16'),
   Timestamp('2015-12-14 08:05:16'),
   2517],
  [334,
   '19283220_161215',
   Timestamp('2015-12-14 08:23:16'),
   Timestamp('2015-12-14 08:23:16'),
   2517],
  [335,
   '19283214_161215',
   Timestamp('2015-12-14 07:28:16'),
   Timestamp('2015-12-14 07:28:16'),
   2517],
  [336,
   '19283215_161215',
   Timestamp('2015-12-14 07:38:16'),
   Timestamp('2015-12-14 07:38:16'),
   2517],
  [337,
   '19283216_161215',
   Timestamp('2015-12-14 07:47:16'),
   Timestamp('2015-12-14 07:47:16'),
   2517],
  [338,
   '19283217_161215',
   Timestamp('2015-12-14 07:56:16'),
   Timestamp('2015-12-14 07:56:16'),
   2517],
  [339,
   '19283219_161215',
   Timestamp('2015-12-14 08:14:16'),
   Timestamp('2015-12-14 08:14:16'),
   2517],
  [340,
   '19283213_161215',
   Timestamp('2015-12-14 07:18:16'),
   Timestamp('2015-12-14 07:18:16'),
   2517]]}

In [118]:
dict(list(stops_to_nodes.items()))

{775: [[31,
   '18854211_161215',
   Timestamp('2015-12-14 07:10:36'),
   Timestamp('2015-12-14 07:10:36'),
   9823],
  [32,
   '18854212_161215',
   Timestamp('2015-12-14 07:48:36'),
   Timestamp('2015-12-14 07:48:36'),
   9823],
  [33,
   '18854213_161215',
   Timestamp('2015-12-14 08:05:36'),
   Timestamp('2015-12-14 08:05:36'),
   9823],
  [34,
   '18854385_161215',
   Timestamp('2015-12-14 08:20:36'),
   Timestamp('2015-12-14 08:20:36'),
   9823],
  [35,
   '18854384_161215',
   Timestamp('2015-12-14 07:30:36'),
   Timestamp('2015-12-14 07:30:36'),
   9823]],
 12816: [[332,
   '19283212_161215',
   Timestamp('2015-12-14 07:08:16'),
   Timestamp('2015-12-14 07:08:16'),
   2517],
  [333,
   '19283218_161215',
   Timestamp('2015-12-14 08:05:16'),
   Timestamp('2015-12-14 08:05:16'),
   2517],
  [334,
   '19283220_161215',
   Timestamp('2015-12-14 08:23:16'),
   Timestamp('2015-12-14 08:23:16'),
   2517],
  [335,
   '19283214_161215',
   Timestamp('2015-12-14 07:28:16'),
   Timestamp('2015-12-14 07:28:16'),
   2517],
  [336,
   '19283215_161215',
   Timestamp('2015-12-14 07:38:16'),
   Timestamp('2015-12-14 07:38:16'),
   2517],
  [337,
   '19283216_161215',
   Timestamp('2015-12-14 07:47:16'),
   Timestamp('2015-12-14 07:47:16'),
   2517],
  [338,
   '19283217_161215',
   Timestamp('2015-12-14 07:56:16'),
   Timestamp('2015-12-14 07:56:16'),
   2517],
  [339,
   '19283219_161215',
   Timestamp('2015-12-14 08:14:16'),
   Timestamp('2015-12-14 08:14:16'),
   2517],
  [340,
   '19283213_161215',
   Timestamp('2015-12-14 07:18:16'),
   Timestamp('2015-12-14 07:18:16'),
   2517]],
 12837: [[341,
   '19283212_161215',
   Timestamp('2015-12-14 07:10:23'),
   Timestamp('2015-12-14 07:10:23'),
   2517],
  [342,
   '19283218_161215',
   Timestamp('2015-12-14 08:07:23'),
   Timestamp('2015-12-14 08:07:23'),
   2517],
  [343,
   '19283220_161215',
   Timestamp('2015-12-14 08:25:23'),
   Timestamp('2015-12-14 08:25:23'),
   2517],
  [344,
   '19283214_161215',
   Timestamp('2015-12-14 07:30:23'),
   Timestamp('2015-12-14 07:30:23'),
   2517],
  [345,
   '19283215_161215',
   Timestamp('2015-12-14 07:40:23'),
   Timestamp('2015-12-14 07:40:23'),
   2517],
  [346,
   '19283216_161215',
   Timestamp('2015-12-14 07:49:23'),
   Timestamp('2015-12-14 07:49:23'),
   2517],
  [347,
   '19283217_161215',
   Timestamp('2015-12-14 07:58:23'),
   Timestamp('2015-12-14 07:58:23'),
   2517],
  [348,
   '19283219_161215',
   Timestamp('2015-12-14 08:16:23'),
   Timestamp('2015-12-14 08:16:23'),
   2517],
  [349,
   '19283213_161215',
   Timestamp('2015-12-14 07:20:23'),
   Timestamp('2015-12-14 07:20:23'),
   2517]],
 12843: [[520,
   '19283221_161215',
   Timestamp('2015-12-14 08:19:31'),
   Timestamp('2015-12-14 08:19:31'),
   2517],
  [521,
   '19283218_161215',
   Timestamp('2015-12-14 07:51:31'),
   Timestamp('2015-12-14 07:51:31'),
   2517],
  [522,
   '19283220_161215',
   Timestamp('2015-12-14 08:09:31'),
   Timestamp('2015-12-14 08:09:31'),
   2517],
  [523,
   '19283214_161215',
   Timestamp('2015-12-14 07:14:31'),
   Timestamp('2015-12-14 07:14:31'),
   2517],
  [524,
   '19283215_161215',
   Timestamp('2015-12-14 07:24:31'),
   Timestamp('2015-12-14 07:24:31'),
   2517],
  [525,
   '19283216_161215',
   Timestamp('2015-12-14 07:33:31'),
   Timestamp('2015-12-14 07:33:31'),
   2517],
  [526,
   '19283217_161215',
   Timestamp('2015-12-14 07:42:31'),
   Timestamp('2015-12-14 07:42:31'),
   2517],
  [527,
   '19283219_161215',
   Timestamp('2015-12-14 08:00:31'),
   Timestamp('2015-12-14 08:00:31'),
   2517],
  [528,
   '19283222_161215',
   Timestamp('2015-12-14 08:29:31'),
   Timestamp('2015-12-14 08:29:31'),
   2517],
  [529,
   '19283213_161215',
   Timestamp('2015-12-14 07:04:31'),
   Timestamp('2015-12-14 07:04:31'),
   2517]],
 12844: [[510,
   '19283221_161215',
   Timestamp('2015-12-14 08:19:08'),
   Timestamp('2015-12-14 08:19:08'),
   2517],
  [511,
   '19283218_161215',
   Timestamp('2015-12-14 07:51:08'),
   Timestamp('2015-12-14 07:51:08'),
   2517],
  [512,
   '19283220_161215',
   Timestamp('2015-12-14 08:09:08'),
   Timestamp('2015-12-14 08:09:08'),
   2517],
  [513,
   '19283214_161215',
   Timestamp('2015-12-14 07:14:08'),
   Timestamp('2015-12-14 07:14:08'),
   2517],
  [514,
   '19283215_161215',
   Timestamp('2015-12-14 07:24:08'),
   Timestamp('2015-12-14 07:24:08'),
   2517],
  [515,
   '19283216_161215',
   Timestamp('2015-12-14 07:33:08'),
   Timestamp('2015-12-14 07:33:08'),
   2517],
  [516,
   '19283217_161215',
   Timestamp('2015-12-14 07:42:08'),
   Timestamp('2015-12-14 07:42:08'),
   2517],
  [517,
   '19283219_161215',
   Timestamp('2015-12-14 08:00:08'),
   Timestamp('2015-12-14 08:00:08'),
   2517],
  [518,
   '19283222_161215',
   Timestamp('2015-12-14 08:29:08'),
   Timestamp('2015-12-14 08:29:08'),
   2517],
  [519,
   '19283213_161215',
   Timestamp('2015-12-14 07:04:08'),
   Timestamp('2015-12-14 07:04:08'),
   2517]],
 12867: [[350,
   '19283212_161215',
   Timestamp('2015-12-14 07:13:20'),
   Timestamp('2015-12-14 07:13:20'),
   2517],
  [351,
   '19283218_161215',
   Timestamp('2015-12-14 08:10:20'),
   Timestamp('2015-12-14 08:10:20'),
   2517],
  [352,
   '19283220_161215',
   Timestamp('2015-12-14 08:28:20'),
   Timestamp('2015-12-14 08:28:20'),
   2517],
  [353,
   '19283214_161215',
   Timestamp('2015-12-14 07:33:20'),
   Timestamp('2015-12-14 07:33:20'),
   2517],
  [354,
   '19283215_161215',
   Timestamp('2015-12-14 07:43:20'),
   Timestamp('2015-12-14 07:43:20'),
   2517],
  [355,
   '19283216_161215',
   Timestamp('2015-12-14 07:52:20'),
   Timestamp('2015-12-14 07:52:20'),
   2517],
  [356,
   '19283217_161215',
   Timestamp('2015-12-14 08:01:20'),
   Timestamp('2015-12-14 08:01:20'),
   2517],
  [357,
   '19283219_161215',
   Timestamp('2015-12-14 08:19:20'),
   Timestamp('2015-12-14 08:19:20'),
   2517],
  [358,
   '19283213_161215',
   Timestamp('2015-12-14 07:23:20'),
   Timestamp('2015-12-14 07:23:20'),
   2517]],
 12882: [[154,
   '18854212_161215',
   Timestamp('2015-12-14 07:11:33'),
   Timestamp('2015-12-14 07:11:33'),
   9823],
  [155,
   '18854386_161215',
   Timestamp('2015-12-14 08:13:33'),
   Timestamp('2015-12-14 08:13:33'),
   9823],
  [156,
   '18854387_161215',
   Timestamp('2015-12-14 08:28:33'),
   Timestamp('2015-12-14 08:28:33'),
   9823],
  [157,
   '18854213_161215',
   Timestamp('2015-12-14 07:28:33'),
   Timestamp('2015-12-14 07:28:33'),
   9823],
  [158,
   '18854214_161215',
   Timestamp('2015-12-14 07:58:33'),
   Timestamp('2015-12-14 07:58:33'),
   9823],
  [159,
   '18854385_161215',
   Timestamp('2015-12-14 07:43:33'),
   Timestamp('2015-12-14 07:43:33'),
   9823]],
 12932: [[444,
   '19283221_161215',
   Timestamp('2015-12-14 08:11:11'),
   Timestamp('2015-12-14 08:11:11'),
   2517],
  [445,
   '19283218_161215',
   Timestamp('2015-12-14 07:43:11'),
   Timestamp('2015-12-14 07:43:11'),
   2517],
  [446,
   '19283220_161215',
   Timestamp('2015-12-14 08:01:11'),
   Timestamp('2015-12-14 08:01:11'),
   2517],
  [447,
   '19283214_161215',
   Timestamp('2015-12-14 07:06:11'),
   Timestamp('2015-12-14 07:06:11'),
   2517],
  [448,
   '19283215_161215',
   Timestamp('2015-12-14 07:16:11'),
   Timestamp('2015-12-14 07:16:11'),
   2517],
  [449,
   '19283216_161215',
   Timestamp('2015-12-14 07:25:11'),
   Timestamp('2015-12-14 07:25:11'),
   2517],
  [450,
   '19283217_161215',
   Timestamp('2015-12-14 07:34:11'),
   Timestamp('2015-12-14 07:34:11'),
   2517],
  [451,
   '19283219_161215',
   Timestamp('2015-12-14 07:52:11'),
   Timestamp('2015-12-14 07:52:11'),
   2517],
  [452,
   '19283222_161215',
   Timestamp('2015-12-14 08:21:11'),
   Timestamp('2015-12-14 08:21:11'),
   2517]],
 12936: [[257,
   '18854386_161215',
   Timestamp('2015-12-14 07:57:00'),
   Timestamp('2015-12-14 07:57:00'),
   9823],
  [258,
   '18854387_161215',
   Timestamp('2015-12-14 08:12:00'),
   Timestamp('2015-12-14 08:12:00'),
   9823],
  [259,
   '18854213_161215',
   Timestamp('2015-12-14 07:12:00'),
   Timestamp('2015-12-14 07:12:00'),
   9823],
  [260,
   '18854214_161215',
   Timestamp('2015-12-14 07:42:00'),
   Timestamp('2015-12-14 07:42:00'),
   9823],
  [261,
   '18854215_161215',
   Timestamp('2015-12-14 08:26:00'),
   Timestamp('2015-12-14 08:26:00'),
   9823],
  [262,
   '18854385_161215',
   Timestamp('2015-12-14 07:27:00'),
   Timestamp('2015-12-14 07:27:00'),
   9823]],
 13042: [[219,
   '18854212_161215',
   Timestamp('2015-12-14 07:26:21'),
   Timestamp('2015-12-14 07:26:21'),
   9823],
  [220,
   '18854386_161215',
   Timestamp('2015-12-14 08:28:21'),
   Timestamp('2015-12-14 08:28:21'),
   9823],
  [221,
   '18854213_161215',
   Timestamp('2015-12-14 07:43:21'),
   Timestamp('2015-12-14 07:43:21'),
   9823],
  [222,
   '18854214_161215',
   Timestamp('2015-12-14 08:13:21'),
   Timestamp('2015-12-14 08:13:21'),
   9823],
  [223,
   '18854385_161215',
   Timestamp('2015-12-14 07:58:21'),
   Timestamp('2015-12-14 07:58:21'),
   9823],
  [224,
   '18854384_161215',
   Timestamp('2015-12-14 07:08:21'),
   Timestamp('2015-12-14 07:08:21'),
   9823]],
 13049: [[263,
   '18854386_161215',
   Timestamp('2015-12-14 07:57:57'),
   Timestamp('2015-12-14 07:57:57'),
   9823],
  [264,
   '18854387_161215',
   Timestamp('2015-12-14 08:12:57'),
   Timestamp('2015-12-14 08:12:57'),
   9823],
  [265,
   '18854213_161215',
   Timestamp('2015-12-14 07:12:57'),
   Timestamp('2015-12-14 07:12:57'),
   9823],
  [266,
   '18854214_161215',
   Timestamp('2015-12-14 07:42:57'),
   Timestamp('2015-12-14 07:42:57'),
   9823],
  [267,
   '18854215_161215',
   Timestamp('2015-12-14 08:26:57'),
   Timestamp('2015-12-14 08:26:57'),
   9823],
  [268,
   '18854385_161215',
   Timestamp('2015-12-14 07:27:57'),
   Timestamp('2015-12-14 07:27:57'),
   9823]],
 13100: [[269,
   '18854386_161215',
   Timestamp('2015-12-14 07:58:53'),
   Timestamp('2015-12-14 07:58:53'),
   9823],
  [270,
   '18854387_161215',
   Timestamp('2015-12-14 08:13:53'),
   Timestamp('2015-12-14 08:13:53'),
   9823],
  [271,
   '18854213_161215',
   Timestamp('2015-12-14 07:13:53'),
   Timestamp('2015-12-14 07:13:53'),
   9823],
  [272,
   '18854214_161215',
   Timestamp('2015-12-14 07:43:53'),
   Timestamp('2015-12-14 07:43:53'),
   9823],
  [273,
   '18854215_161215',
   Timestamp('2015-12-14 08:27:53'),
   Timestamp('2015-12-14 08:27:53'),
   9823],
  [274,
   '18854385_161215',
   Timestamp('2015-12-14 07:28:53'),
   Timestamp('2015-12-14 07:28:53'),
   9823]],
 13127: [[170,
   '18854212_161215',
   Timestamp('2015-12-14 07:17:03'),
   Timestamp('2015-12-14 07:17:03'),
   9823],
  [171,
   '18854386_161215',
   Timestamp('2015-12-14 08:19:03'),
   Timestamp('2015-12-14 08:19:03'),
   9823],
  [172,
   '18854213_161215',
   Timestamp('2015-12-14 07:34:03'),
   Timestamp('2015-12-14 07:34:03'),
   9823],
  [173,
   '18854214_161215',
   Timestamp('2015-12-14 08:04:03'),
   Timestamp('2015-12-14 08:04:03'),
   9823],
  [174,
   '18854385_161215',
   Timestamp('2015-12-14 07:49:03'),
   Timestamp('2015-12-14 07:49:03'),
   9823]],
 13145: [[107,
   '18854386_161215',
   Timestamp('2015-12-14 08:01:15'),
   Timestamp('2015-12-14 08:01:15'),
   9823],
  [108,
   '18854387_161215',
   Timestamp('2015-12-14 08:16:15'),
   Timestamp('2015-12-14 08:16:15'),
   9823],
  [109,
   '18854213_161215',
   Timestamp('2015-12-14 07:16:15'),
   Timestamp('2015-12-14 07:16:15'),
   9823],
  [110,
   '18854214_161215',
   Timestamp('2015-12-14 07:46:15'),
   Timestamp('2015-12-14 07:46:15'),
   9823],
  [111,
   '18854385_161215',
   Timestamp('2015-12-14 07:31:15'),
   Timestamp('2015-12-14 07:31:15'),
   9823]],
 13226: [[192,
   '18854212_161215',
   Timestamp('2015-12-14 07:21:30'),
   Timestamp('2015-12-14 07:21:30'),
   9823],
  [193,
   '18854386_161215',
   Timestamp('2015-12-14 08:23:30'),
   Timestamp('2015-12-14 08:23:30'),
   9823],
  [194,
   '18854213_161215',
   Timestamp('2015-12-14 07:38:30'),
   Timestamp('2015-12-14 07:38:30'),
   9823],
  [195,
   '18854214_161215',
   Timestamp('2015-12-14 08:08:30'),
   Timestamp('2015-12-14 08:08:30'),
   9823],
  [196,
   '18854385_161215',
   Timestamp('2015-12-14 07:53:30'),
   Timestamp('2015-12-14 07:53:30'),
   9823],
  [197,
   '18854384_161215',
   Timestamp('2015-12-14 07:03:30'),
   Timestamp('2015-12-14 07:03:30'),
   9823],
  [198,
   '19283221_161215',
   Timestamp('2015-12-14 08:09:05'),
   Timestamp('2015-12-14 08:09:05'),
   2517],
  [199,
   '19283218_161215',
   Timestamp('2015-12-14 07:41:05'),
   Timestamp('2015-12-14 07:41:05'),
   2517],
  [200,
   '19283220_161215',
   Timestamp('2015-12-14 07:59:05'),
   Timestamp('2015-12-14 07:59:05'),
   2517],
  [201,
   '19283214_161215',
   Timestamp('2015-12-14 07:04:05'),
   Timestamp('2015-12-14 07:04:05'),
   2517],
  [202,
   '19283215_161215',
   Timestamp('2015-12-14 07:14:05'),
   Timestamp('2015-12-14 07:14:05'),
   2517],
  [203,
   '19283216_161215',
   Timestamp('2015-12-14 07:23:05'),
   Timestamp('2015-12-14 07:23:05'),
   2517],
  [204,
   '19283217_161215',
   Timestamp('2015-12-14 07:32:05'),
   Timestamp('2015-12-14 07:32:05'),
   2517],
  [205,
   '19283219_161215',
   Timestamp('2015-12-14 07:50:05'),
   Timestamp('2015-12-14 07:50:05'),
   2517],
  [206,
   '19283222_161215',
   Timestamp('2015-12-14 08:19:05'),
   Timestamp('2015-12-14 08:19:05'),
   2517]],
 13229: [[118,
   '18854212_161215',
   Timestamp('2015-12-14 07:00:32'),
   Timestamp('2015-12-14 07:00:32'),
   9823],
  [119,
   '18854386_161215',
   Timestamp('2015-12-14 08:02:32'),
   Timestamp('2015-12-14 08:02:32'),
   9823],
  [120,
   '18854387_161215',
   Timestamp('2015-12-14 08:17:32'),
   Timestamp('2015-12-14 08:17:32'),
   9823],
  [121,
   '18854213_161215',
   Timestamp('2015-12-14 07:17:32'),
   Timestamp('2015-12-14 07:17:32'),
   9823],
  [122,
   '18854214_161215',
   Timestamp('2015-12-14 07:47:32'),
   Timestamp('2015-12-14 07:47:32'),
   9823],
  [123,
   '18854385_161215',
   Timestamp('2015-12-14 07:32:32'),
   Timestamp('2015-12-14 07:32:32'),
   9823]],
 13255: [[241,
   '18854212_161215',
   Timestamp('2015-12-14 07:31:20'),
   Timestamp('2015-12-14 07:31:20'),
   9823],
  [242,
   '18854213_161215',
   Timestamp('2015-12-14 07:48:20'),
   Timestamp('2015-12-14 07:48:20'),
   9823],
  [243,
   '18854214_161215',
   Timestamp('2015-12-14 08:18:20'),
   Timestamp('2015-12-14 08:18:20'),
   9823],
  [244,
   '18854385_161215',
   Timestamp('2015-12-14 08:03:20'),
   Timestamp('2015-12-14 08:03:20'),
   9823],
  [245,
   '18854384_161215',
   Timestamp('2015-12-14 07:13:20'),
   Timestamp('2015-12-14 07:13:20'),
   9823]],
 13256: [[246,
   '18854212_161215',
   Timestamp('2015-12-14 07:34:59'),
   Timestamp('2015-12-14 07:34:59'),
   9823],
  [247,
   '18854213_161215',
   Timestamp('2015-12-14 07:51:59'),
   Timestamp('2015-12-14 07:51:59'),
   9823],
  [248,
   '18854214_161215',
   Timestamp('2015-12-14 08:21:59'),
   Timestamp('2015-12-14 08:21:59'),
   9823],
  [249,
   '18854385_161215',
   Timestamp('2015-12-14 08:06:59'),
   Timestamp('2015-12-14 08:06:59'),
   9823],
  [250,
   '18854384_161215',
   Timestamp('2015-12-14 07:16:59'),
   Timestamp('2015-12-14 07:16:59'),
   9823]],
 13257: [[0,
   '18854212_161215',
   Timestamp('2015-12-14 07:35:48'),
   Timestamp('2015-12-14 07:35:48'),
   9823],
  [1,
   '18854213_161215',
   Timestamp('2015-12-14 07:52:48'),
   Timestamp('2015-12-14 07:52:48'),
   9823],
  [2,
   '18854214_161215',
   Timestamp('2015-12-14 08:22:48'),
   Timestamp('2015-12-14 08:22:48'),
   9823],
  [3,
   '18854385_161215',
   Timestamp('2015-12-14 08:07:48'),
   Timestamp('2015-12-14 08:07:48'),
   9823],
  [4,
   '18854384_161215',
   Timestamp('2015-12-14 07:17:48'),
   Timestamp('2015-12-14 07:17:48'),
   9823]],
 13266: [[225,
   '18854212_161215',
   Timestamp('2015-12-14 07:27:41'),
   Timestamp('2015-12-14 07:27:41'),
   9823],
  [226,
   '18854386_161215',
   Timestamp('2015-12-14 08:29:41'),
   Timestamp('2015-12-14 08:29:41'),
   9823],
  [227,
   '18854213_161215',
   Timestamp('2015-12-14 07:44:41'),
   Timestamp('2015-12-14 07:44:41'),
   9823],
  [228,
   '18854214_161215',
   Timestamp('2015-12-14 08:14:41'),
   Timestamp('2015-12-14 08:14:41'),
   9823],
  [229,
   '18854385_161215',
   Timestamp('2015-12-14 07:59:41'),
   Timestamp('2015-12-14 07:59:41'),
   9823],
  [230,
   '18854384_161215',
   Timestamp('2015-12-14 07:09:41'),
   Timestamp('2015-12-14 07:09:41'),
   9823]],
 13314: [[387,
   '19283221_161215',
   Timestamp('2015-12-14 08:01:37'),
   Timestamp('2015-12-14 08:01:37'),
   2517],
  [388,
   '19283218_161215',
   Timestamp('2015-12-14 07:33:37'),
   Timestamp('2015-12-14 07:33:37'),
   2517],
  [389,
   '19283220_161215',
   Timestamp('2015-12-14 07:51:37'),
   Timestamp('2015-12-14 07:51:37'),
   2517],
  [390,
   '19283223_161215',
   Timestamp('2015-12-14 08:22:37'),
   Timestamp('2015-12-14 08:22:37'),
   2517],
  [391,
   '19283215_161215',
   Timestamp('2015-12-14 07:06:37'),
   Timestamp('2015-12-14 07:06:37'),
   2517],
  [392,
   '19283216_161215',
   Timestamp('2015-12-14 07:15:37'),
   Timestamp('2015-12-14 07:15:37'),
   2517],
  [393,
   '19283217_161215',
   Timestamp('2015-12-14 07:24:37'),
   Timestamp('2015-12-14 07:24:37'),
   2517],
  [394,
   '19283219_161215',
   Timestamp('2015-12-14 07:42:37'),
   Timestamp('2015-12-14 07:42:37'),
   2517],
  [395,
   '19283222_161215',
   Timestamp('2015-12-14 08:11:37'),
   Timestamp('2015-12-14 08:11:37'),
   2517]],
 13320: [[453,
   '19283221_161215',
   Timestamp('2015-12-14 08:12:16'),
   Timestamp('2015-12-14 08:12:16'),
   2517],
  [454,
   '19283218_161215',
   Timestamp('2015-12-14 07:44:16'),
   Timestamp('2015-12-14 07:44:16'),
   2517],
  [455,
   '19283220_161215',
   Timestamp('2015-12-14 08:02:16'),
   Timestamp('2015-12-14 08:02:16'),
   2517],
  [456,
   '19283214_161215',
   Timestamp('2015-12-14 07:07:16'),
   Timestamp('2015-12-14 07:07:16'),
   2517],
  [457,
   '19283215_161215',
   Timestamp('2015-12-14 07:17:16'),
   Timestamp('2015-12-14 07:17:16'),
   2517],
  [458,
   '19283216_161215',
   Timestamp('2015-12-14 07:26:16'),
   Timestamp('2015-12-14 07:26:16'),
   2517],
  [459,
   '19283217_161215',
   Timestamp('2015-12-14 07:35:16'),
   Timestamp('2015-12-14 07:35:16'),
   2517],
  [460,
   '19283219_161215',
   Timestamp('2015-12-14 07:53:16'),
   Timestamp('2015-12-14 07:53:16'),
   2517],
  [461,
   '19283222_161215',
   Timestamp('2015-12-14 08:22:16'),
   Timestamp('2015-12-14 08:22:16'),
   2517]],
 13359: [[130,
   '18854212_161215',
   Timestamp('2015-12-14 07:01:54'),
   Timestamp('2015-12-14 07:01:54'),
   9823],
  [131,
   '18854386_161215',
   Timestamp('2015-12-14 08:03:54'),
   Timestamp('2015-12-14 08:03:54'),
   9823],
  [132,
   '18854387_161215',
   Timestamp('2015-12-14 08:18:54'),
   Timestamp('2015-12-14 08:18:54'),
   9823],
  [133,
   '18854213_161215',
   Timestamp('2015-12-14 07:18:54'),
   Timestamp('2015-12-14 07:18:54'),
   9823],
  [134,
   '18854214_161215',
   Timestamp('2015-12-14 07:48:54'),
   Timestamp('2015-12-14 07:48:54'),
   9823],
  [135,
   '18854385_161215',
   Timestamp('2015-12-14 07:33:54'),
   Timestamp('2015-12-14 07:33:54'),
   9823]],
 13362: [[213,
   '18854212_161215',
   Timestamp('2015-12-14 07:24:43'),
   Timestamp('2015-12-14 07:24:43'),
   9823],
  [214,
   '18854386_161215',
   Timestamp('2015-12-14 08:26:43'),
   Timestamp('2015-12-14 08:26:43'),
   9823],
  [215,
   '18854213_161215',
   Timestamp('2015-12-14 07:41:43'),
   Timestamp('2015-12-14 07:41:43'),
   9823],
  [216,
   '18854214_161215',
   Timestamp('2015-12-14 08:11:43'),
   Timestamp('2015-12-14 08:11:43'),
   9823],
  [217,
   '18854385_161215',
   Timestamp('2015-12-14 07:56:43'),
   Timestamp('2015-12-14 07:56:43'),
   9823],
  [218,
   '18854384_161215',
   Timestamp('2015-12-14 07:06:43'),
   Timestamp('2015-12-14 07:06:43'),
   9823]],
 13428: [[5,
   '18854211_161215',
   Timestamp('2015-12-14 07:00:37'),

In [119]:
DEPARTURE_INDEX = 3
for stop, nodes in stops_to_nodes.items():
    stops_to_nodes[stop] = sorted(nodes, key=lambda x: x[DEPARTURE_INDEX])

In [120]:
total_values = 0
max_nodes_in_stop = 0
for n in stops_to_nodes.values():
    num_nodes = len(n)
    if num_nodes > max_nodes_in_stop:
        max_nodes_in_stop = num_nodes
    total_values += num_nodes
print(f'There is a total of {total_values} nodes in the stops_to_nodes dictionary')

There is a total of 557 nodes in the stops_to_nodes dictionary

In [121]:
len(stops_to_nodes)

80

In [122]:
print(f'We have an average of {total_values/len(stops_to_nodes)}, and a max of {max_nodes_in_stop} nodes in a single stop.')

We have an average of 6.9625, and a max of 15 nodes in a single stop.

In [123]:
ARRIVAL_INDEX = 2
DEPARTURE_INDEX = 3
ROUTE_ID_INDEX = 4
MAX_WAIT_TIME = dt.timedelta(minutes=10)
def get_transfer_edges_from_nodes(stops_to_nodes_batch):
    print('Processing batch...')
    stops_to_nodes_batch = dict(stops_to_nodes_batch)
    transfer_edges = []
    for stop, nodes in tqdm(stops_to_nodes_batch.items()):
#         print(f'Handling stop: {stop}')
        for start_n in nodes:
#             print(f'Start node: {start_n}')
            nearby_stops_df = stops_mapping_200m_df[stops_mapping_200m_df['from_stop_id'] == stop]
            # Add current stop to check transfers from the same stop
            nearby_stops_df.append({'from_stop_id': [stop], 'to_stop_id': [stop], 'dist': [0], 'walk_time_sec': [0]}, ignore_index=True)
            # TODO: verify this we're not staying to the same line in same direction
#             print(f'Going though nearby stops')
            for s in nearby_stops_df.iterrows():
                nearby_stop_id = s[1]['to_stop_id']
#                 print(f'Nearby stop: {nearby_stop_id}')
                if nearby_stop_id not in stops_to_nodes:
                    # Some stops don't have trips that operate all week. Some operate only on weekends.
                    # If this is such a stop we should continue to look at other stops, we won't find any
                    # nodes here.
                    continue
                nearby_nodes = stops_to_nodes[nearby_stop_id]
                second_line_earliest_start_time = start_n[ARRIVAL_INDEX] + dt.timedelta(seconds=s[1]['walk_time_sec'])
                second_line_latest_start_time = second_line_earliest_start_time + MAX_WAIT_TIME
                # Find index of first node that departs at least at second_start_time or later
                _, _, _, departures, _ = zip(*nearby_nodes)
                i = bisect.bisect_left(departures, second_line_earliest_start_time)
#                 print(f'Number of nodes in current stop: {len(nearby_nodes)}')
                while (i < len(nearby_nodes) and 
                       nearby_nodes[i][DEPARTURE_INDEX] >= second_line_earliest_start_time and 
                       nearby_nodes[i][DEPARTURE_INDEX] <= second_line_latest_start_time):
#                     print(f'Handling node with index {i}: {nearby_nodes[i]}')
                    node = nearby_nodes[i][0]
                    if node == start_n[0] or (nearby_nodes[i][ROUTE_ID_INDEX] == start_n[ROUTE_ID_INDEX] and s == stop):
                        # We don't wish to transfer to the same node (no self-edges). 
                        # Another case we wish to avoid is transferring to the same line (route__id) in the same stop.
                        i += 1
                        continue
                    transfer_edges.append((start_n[0], nearby_nodes[i][0], nearby_nodes[i][DEPARTURE_INDEX] - start_n[ARRIVAL_INDEX]))
                    i += 1
    return transfer_edges

In [124]:
# transfer_edges = run_parallel_dict(stops_to_nodes, 1000, get_transfer_edges_from_nodes)

In [125]:
transfer_edges = get_transfer_edges_from_nodes(stops_to_nodes)

Processing batch...

HBox(children=(IntProgress(value=0, max=80), HTML(value='')))

In [126]:
len(transfer_edges)

318

In [66]:
transfer_edges[:3]

[(9, 63, Timedelta('0 days 00:08:01')),
 (6, 59, Timedelta('0 days 00:08:01')),
 (7, 60, Timedelta('0 days 00:08:01'))]

In [68]:
nodes_df[nodes_df['node_id'] == 9]

,index,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
9,90,19415585_091215,07:12:00,07:12:00,12936,2,9823,07:10:00,21227,32.106707,34.802776,2015-12-14 07:12:00,2015-12-14 07:12:00,9

In [69]:
nodes_df[nodes_df['node_id'] == 63]

,index,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
63,639,19415585_091215,07:20:01,07:20:01,13950,11,9823,07:10:00,26315,32.106109,34.8045,2015-12-14 07:20:01,2015-12-14 07:20:01,63

## TODO: we should eliminate transfers of the same trip_id

In [127]:
transfer_edges_sec = []
for s, t, w in transfer_edges:
    transfer_edges_sec.append((s, t, w.total_seconds()))

In [128]:
transfer_edges_sec[0:5]

[(332, 340, 600.0),
 (340, 335, 600.0),
 (335, 336, 600.0),
 (336, 337, 540.0),
 (337, 338, 540.0)]

In [129]:
import pickle
with open(OUTPUT_PATH + FILES_PREFIX + '_transfer_edges.pkl', 'wb') as f:
    print(f'Saving transfers to file {f.name}')
    pickle.dump(transfer_edges_sec, f)

Saving transfers to file ../../../output_data/validation/two_lines/morning_transfer_edges.pkl

## Let's check some transfers manually

In [46]:
transfer_edges[1000:1005]

[(1120240, 3243432, Timedelta('0 days 00:06:00')),
 (1120240, 3243400, Timedelta('0 days 00:14:04')),
 (1120240, 3243469, Timedelta('0 days 00:11:49')),
 (1120240, 1119942, Timedelta('0 days 00:09:52')),
 (1120240, 1119886, Timedelta('0 days 00:12:17'))]

In [47]:
nodes_df[nodes_df['node_id'] == 3243432]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
3243432,36877179_271019,08:41:49,08:41:49,38971,39,25434,ראשון לציון_רכבת הראשונים,07:50:00,30064,31.947781,34.823278,2019-11-03 08:41:49,2019-11-03 08:41:49,3243432

In [48]:
nodes_df[nodes_df['node_id'] == 1120240]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
1120240,42245728_271019,08:35:49,08:35:49,76,53,25581,רכבת הראשונים,07:40:00,38906,31.948552,34.822422,2019-11-03 08:35:49,2019-11-03 08:35:49,1120240

In [49]:
nodes_df[nodes_df['node_id'] == 3243400]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
3243400,36873380_271019,08:49:53,08:49:53,38971,31,25405,ראשון לציון_רכבת הראשונים,08:10:00,30064,31.947781,34.823278,2019-11-03 08:49:53,2019-11-03 08:49:53,3243400

In [50]:
transfer_edges[4000000:4000002]

[(1763216, 3026510, Timedelta('0 days 00:09:05')),
 (1763216, 3026503, Timedelta('0 days 00:14:05'))]

In [51]:
nodes_df[nodes_df['node_id'] == 3026510]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
3026510,42299653_011119,09:00:00,09:00:00,42875,1,51,אשדוד_תחנה מרכזית,09:00:00,20001,32.083157,34.796091,2019-11-03 09:00:00,2019-11-03 09:00:00,3026510

In [52]:
nodes_df[nodes_df['node_id'] == 1763216]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
1763216,36873382_271019,08:50:55,08:50:55,38946,2,25405,ראשון לציון_רכבת הראשונים,08:50:00,20015,32.081706,34.795561,2019-11-03 08:50:55,2019-11-03 08:50:55,1763216

In [53]:
nodes_df[nodes_df['node_id'] == 3026503]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
3026503,35771757_271019,09:05:00,09:05:00,42875,1,20871,ראש העין_פארק תעשיה אפק,09:05:00,20001,32.083157,34.796091,2019-11-03 09:05:00,2019-11-03 09:05:00,3026503