In [1]:
import pickle
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
OUTPUT_PATH = '../../../output_data/validation/'

In [3]:
SOT_PATH = OUTPUT_PATH + 'source_of_truth/'

In [4]:
DATA_PATH = '../../../input_data/synthetic_examples/input_data/'

In [5]:
os.listdir(SOT_PATH)

['one_line',
 'Test0a_15min_Direct_QQ.csv',
 'Test0b_15min_Direct_QQ_RT.csv',
 'test1',
 'Test1_040116_15min_Direct_QQ.csv',
 'Test1_040116_30min_Direct_QQ.csv',
 'Test1_040116_60min_Direct_QQ (2).csv',
 'Test1_040116_90min_Direct_QQ.csv',
 'test2',
 'Test2_091215_15min_Direct_QQ.csv',
 'Test2_091215_30min_Direct_QQ.csv',
 'Test2_091215_45min_Direct_QQ.csv',
 'Test2_091215_60min_Direct_QQ.csv',
 'Test2_091215_90min_Direct_QQ.csv',
 'Test3_040116_15min_Direct_QQ.csv',
 'Test3_040116_30min_Direct_QQ.csv',
 'Test3_040116_45min_Direct_QQ.csv',
 'Test3_040116_60min_Direct_QQ.csv',
 'Test3_040116_90min_Direct_QQ.csv',
 'TestParameters_Statistics.xlsx',
 'two_lines']

## Validate One Line: Test0a

In [6]:
os.listdir(OUTPUT_PATH + 'one_line/')

['aa_0-264.pkl',
 'all_nodes.pkl',
 'morning_direct_edges.pkl',
 'morning_nodes.pkl',
 'morning_start_nodes.pkl',
 'morning_transfer_edges.pkl',
 'nearby_stops.csv',
 'nearby_stops.pkl',
 'sa_0-264.pkl']

In [7]:
aa_ol_df = pd.read_pickle(OUTPUT_PATH + 'one_line/aa_0-264.pkl')

In [8]:
# Limit to 15 min.
aa_ol_df = aa_ol_df[aa_ol_df['time_sec'] <= 900]

In [9]:
aa_ol_df.head()

,stop_id_source,stop_id_target,time_sec,stop_lon_target,stop_lat_target,arrival_target,stop_lon_source,stop_lat_source,departure
1,12882,12882,0.0,34.782786,32.091212,2015-12-14 07:28:33,34.782786,32.091212,2015-12-14 07:28:33
2,12882,13042,888.0,34.777718,32.062111,2015-12-14 07:43:21,34.782786,32.091212,2015-12-14 07:28:33
3,12882,13127,330.0,34.781148,32.078797,2015-12-14 07:34:03,34.782786,32.091212,2015-12-14 07:28:33
4,12882,13226,597.0,34.785356,32.069337,2015-12-14 07:38:30,34.782786,32.091212,2015-12-14 07:28:33
9,12882,13362,790.0,34.780759,32.064067,2015-12-14 07:41:43,34.782786,32.091212,2015-12-14 07:28:33

In [10]:
aa_ol_df.shape

(436, 9)

In [11]:
sot_ol_df = pd.read_csv(SOT_PATH + 'one_line/Test0a_15min_Direct_QQ.csv')

In [12]:
sot_ol_df.head()

   ID STOP START TIME DEPART  ID STOP DEST TIME ARRIVAL  TRAVEL TIME
0          13948    07:25:00         13948     07:25:00            0
1          13948    07:25:00         12936     07:27:00          120
2          13948    07:25:00         13049     07:27:57          177
3          13948    07:25:00         13100     07:28:53          233
4          13948    07:25:00         14349     07:29:55          295

In [13]:
sot_ol_df.shape

(517, 5)

In [14]:
sot_ol_min_df = sot_ol_df.loc[sot_ol_df.groupby(['ID STOP START', 'ID STOP DEST'])['TRAVEL TIME'].idxmin()]

In [15]:
sot_ol_min_df.shape

(517, 5)

In [16]:
ol_df = aa_ol_df.merge(sot_ol_df, left_on=['stop_id_source', 'stop_id_target'], right_on=['ID STOP START', 'ID STOP DEST'])

In [17]:
ol_df['diff'] = ol_df['time_sec'] - ol_df['TRAVEL TIME']

In [18]:
ol_df.head()

,stop_id_source,stop_id_target,time_sec,stop_lon_target,stop_lat_target,arrival_target,stop_lon_source,stop_lat_source,departure,ID STOP START,TIME DEPART,ID STOP DEST,TIME ARRIVAL,TRAVEL TIME,diff
0,12882,12882,0.0,34.782786,32.091212,2015-12-14 07:28:33,34.782786,32.091212,2015-12-14 07:28:33,12882,07:28:33,12882,07:28:33,0,0.0
1,12882,13042,888.0,34.777718,32.062111,2015-12-14 07:43:21,34.782786,32.091212,2015-12-14 07:28:33,12882,07:28:33,13042,07:43:21,888,0.0
2,12882,13127,330.0,34.781148,32.078797,2015-12-14 07:34:03,34.782786,32.091212,2015-12-14 07:28:33,12882,07:28:33,13127,07:34:03,330,0.0
3,12882,13226,597.0,34.785356,32.069337,2015-12-14 07:38:30,34.782786,32.091212,2015-12-14 07:28:33,12882,07:28:33,13226,07:38:30,597,0.0
4,12882,13362,790.0,34.780759,32.064067,2015-12-14 07:41:43,34.782786,32.091212,2015-12-14 07:28:33,12882,07:28:33,13362,07:41:43,790,0.0

In [19]:
ol_df[ol_df['diff'] != 0]

Empty DataFrame
Columns: [stop_id_source, stop_id_target, time_sec, stop_lon_target, stop_lat_target, arrival_target, stop_lon_source, stop_lat_source, departure, ID STOP START, TIME DEPART, ID STOP DEST, TIME ARRIVAL, TRAVEL TIME, diff]
Index: []

In [20]:
same_stop_df = sot_ol_min_df[sot_ol_min_df['ID STOP START'] == sot_ol_min_df['ID STOP DEST']]

In [21]:
same_stop_df.shape

(42, 5)

In [22]:
sot_ol_diff_df =  sot_ol_min_df[sot_ol_min_df['ID STOP START'] != sot_ol_min_df['ID STOP DEST']]

In [23]:
sot_ol_diff_df.shape

(475, 5)

In [24]:
outer_df = aa_ol_df.merge(sot_ol_diff_df, left_on=['stop_id_source', 'stop_id_target'], right_on=['ID STOP START', 'ID STOP DEST'], how='outer')

In [25]:
outer_df

,stop_id_source,stop_id_target,time_sec,stop_lon_target,stop_lat_target,arrival_target,stop_lon_source,stop_lat_source,departure,ID STOP START,TIME DEPART,ID STOP DEST,TIME ARRIVAL,TRAVEL TIME
0,12882.0,12882.0,0.0,34.782786,32.091212,2015-12-14 07:28:33,34.782786,32.091212,2015-12-14 07:28:33,NaN,NaN,NaN,NaN,NaN
1,12882.0,13042.0,888.0,34.777718,32.062111,2015-12-14 07:43:21,34.782786,32.091212,2015-12-14 07:28:33,12882.0,07:28:33,13042.0,07:43:21,888.0
2,12882.0,13127.0,330.0,34.781148,32.078797,2015-12-14 07:34:03,34.782786,32.091212,2015-12-14 07:28:33,12882.0,07:28:33,13127.0,07:34:03,330.0
3,12882.0,13226.0,597.0,34.785356,32.069337,2015-12-14 07:38:30,34.782786,32.091212,2015-12-14 07:28:33,12882.0,07:28:33,13226.0,07:38:30,597.0
4,12882.0,13362.0,790.0,34.780759,32.064067,2015-12-14 07:41:43,34.782786,32.091212,2015-12-14 07:28:33,12882.0,07:28:33,13362.0,07:41:43,790.0
5,12882.0,13598.0,364.0,34.781313,32.076684,2015-12-14 07:34:37,34.782786,32.091212,2015-12-14 07:28:33,12882.0,07:28:33,13598.0,07:34:37,364.0
6,12882.0,13679.0,214.0,34.781145,32.082462,2015-12-14 07:32:07,34.782786,32.091212,2015-12-14 07:28:33,12882.0,07:28:33,13679.0,07:32:07,214.0
7,12882.0,13680.0,109.0,34.782004,32.087089,2015-12-14 07:30:22,34.782786,32.091212,2015-12-14 07:28:33,12882.0,07:28:33,13680.0,07:30:22,109.0
8,12882.0,14530.0,467.0,34.781736,32.071828,2015-12-14 07:36:20,34.782786,32.091212,2015-12-14 07:28:33,12882.0,07:28:33,14530.0,07:36:20,467.0
9,12882.0,29488.0,400.0,34.781570,32.075101,2015-12-14 07:35:13,34.782786,32.091212,2015-12-14 07:28:33,12882.0,07:28:33,29488.0,07:35:13,400.0
10,12882.0,38950.0,752.0,34.783132,32.065658,2015-12-14 07:41:05,34.782786,32.091212,2015-12-14 07:28:33,12882.0,07:28:33,38950.0,07:41:05,752.0
11,12936.0,12936.0,0.0,34.802776,32.106707,2015-12-14 07:27:00,34.802776,32.106707,2015-12-14 07:27:00,NaN,NaN,NaN,NaN,NaN
12,12936.0,13049.0,57.0,34.801446,32.108106,2015-12-14 07:27:57,34.802776,32.106707,2015-12-14 07:27:00,12936.0,07:27:00,13049.0,07:27:57,57.0
13,12936.0,13100.0,113.0,34.801741,32.111062,2015-12-14 07:28:53,34.802776,32.106707,2015-12-14 07:27:00,12936.0,07:27:00,13100.0,07:28:53,113.0
14,12936.0,13145.0,255.0,34.802148,32.118006,2015-12-14 07:31:15,34.802776,32.106707,2015-12-14 07:27:00,12936.0,07:27:00,13145.0,07:31:15,255.0
15,12936.0,13229.0,332.0,34.807217,32.115503,2015-12-14 07:32:32,34.802776,32.106707,2015-12-14 07:27:00,12936.0,07:27:00,13229.0,07:32:32,332.0
16,12936.0,13359.0,414.0,34.807047,32.109767,2015-12-14 07:33:54,34.802776,32.106707,2015-12-14 07:27:00,12936.0,07:27:00,13359.0,07:33:54,414.0
17,12936.0,13948.0,780.0,34.803888,32.104857,2015-12-14 07:40:00,34.802776,32.106707,2015-12-14 07:27:00,NaN,NaN,NaN,NaN,NaN
18,12936.0,13950.0,481.0,34.804500,32.106109,2015-12-14 07:35:01,34.802776,32.106707,2015-12-14 07:27:00,12936.0,07:27:00,13950.0,07:35:01,481.0
19,12936.0,14349.0,175.0,34.801547,32.113879,2015-12-14 07:29:55,34.802776,32.106707,2015-12-14 07:27:00,12936.0,07:27:00,14349.0,07:29:55,175.0
20,12936.0,14564.0,845.0,34.783501,32.097563,2015-12-14 07:41:05,34.802776,32.106707,2015-12-14 07:27:00,12936.0,07:27:00,14564.0,07:41:05,845.0
21,12936.0,29398.0,360.0,34.807402,32.113547,2015-12-14 07:33:00,34.802776,32.106707,2015-12-14 07:27:00,12936.0,07:27:00,29398.0,07:33:00,360.0
22,12936.0,29568.0,301.0,34.806280,32.117333,2015-12-14 07:32:01,34.802776,32.106707,2015-12-14 07:27:00,12936.0,07:27:00,29568.0,07:32:01,301.0
23,13042.0,13042.0,0.0,34.777718,32.062111,2015-12-14 07:26:21,34.777718,32.062111,2015-12-14 07:26:21,NaN,NaN,NaN,NaN,NaN
24,13042.0,13255.0,299.0,34.773650,32.050666,2015-12-14 07:31:20,34.777718,32.062111,2015-12-14 07:26:21,13042.0,07:26:21,13255.0,07:31:20,299.0
25,13042.0,13256.0,518.0,34.772516,32.041859,2015-12-14 07:34:59,34.777718,32.062111,2015-12-14 07:26:21,13042.0,07:26:21,13256.0,07:34:59,518.0
26,13042.0,13257.0,567.0,34.775255,32.040172,2015-12-14 07:35:48,34.777718,32.062111,2015-12-14 07:26:21,13042.0,07:26:21,13257.0,07:35:48,567.0
27,13042.0,13266.0,80.0,34.777926,32.060026,2015-12-14 07:27:41,34.777718,32.062111,2015-12-14 07:26:21,13042.0,07:26:21,13266.0,07:27:41,80.0
28,13042.0,13428.0,736.0,34.777806,32.037780,2015-12-14 07:38:37,34.777718,32.062111,2015-12-14 07:26:21,13042.0,07:26:21,13428.0,07:38:37,736.0
29,13042.0,14528.0,173.0,34.776479,32.057018,2015-12-14 07:29:14,34.777718,32.062111,2015-12-14 07:26:21,13042.0,07:26:21,14528.0,07:29:14,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,24135.0,07:28:07,15564.0,07:43:46,939.0
543,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,24135.0,07:28:07,21475.0,07:44:44,997.0
544,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,24141.0,07:27:09,15564.0,07:43:46,997.0
545,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,24141.0,07:27:09,21475.0,07:44:44,1055.0
546,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,24141.0,07:27:09,21821.0,07:43:02,953.0
547,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,24717.0,07:29:23,21475.0,07:44:44,921.0
548,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29398.0,07:18:00,13042.0,07:43:21,1521.0
549,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29398.0,07:18:00,13127.0,07:34:03,963.0
550,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29398.0,07:18:00,13226.0,07:38:30,1230.0
551,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29398.0,07:18:00,13266.0,07:44:41,1601.0
552,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29398.0,07:18:00,13362.0,07:41:43,1423.0
553,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29398.0,07:18:00,13598.0,07:34:37,997.0
554,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29398.0,07:18:00,14530.0,07:36:20,1100.0
555,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29398.0,07:18:00,29488.0,07:35:13,1033.0
556,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29398.0,07:18:00,38950.0,07:41:05,1385.0
557,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29488.0,07:18:13,13256.0,07:34:59,1006.0
558,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29488.0,07:18:13,13257.0,07:35:48,1055.0
559,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29488.0,07:18:13,13428.0,07:38:37,1224.0
560,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29488.0,07:18:13,21520.0,07:43:45,1532.0
561,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29568.0,07:17:01,13042.0,07:43:21,1580.0
562,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29568.0,07:17:01,13127.0,07:34:03,1022.0
563,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29568.0,07:17:01,13226.0,07:38:30,1289.0
564,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29568.0,07:17:01,13266.0,07:44:41,1660.0
565,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29568.0,07:17:01,13362.0,07:41:43,1482.0
566,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29568.0,07:17:01,13598.0,07:34:37,1056.0
567,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29568.0,07:17:01,13679.0,07:32:07,906.0
568,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29568.0,07:17:01,14530.0,07:36:20,1159.0
569,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29568.0,07:17:01,29488.0,07:35:13,1092.0
570,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,29568.0,07:17:01,38950.0,07:41:05,1444.0
571,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,38950.0,07:24:05,21520.0,07:43:45,1180.0

In [26]:
trips_not_in_my_computations_df = outer_df[outer_df['departure'].isna()]

In [27]:
trips_not_in_my_computations_df.shape

(136, 14)

In [33]:
start_stops = list(trips_not_in_my_computations_df['ID STOP START'].unique())

In [41]:
trips_not_in_my_computations_df[['ID STOP START', 'ID STOP DEST', 'TIME DEPART', 'TIME ARRIVAL', 'TRAVEL TIME']][trips_not_in_my_computations_df['TRAVEL TIME'] <= 900]

Empty DataFrame
Columns: [ID STOP START, ID STOP DEST, TIME DEPART, TIME ARRIVAL, TRAVEL TIME]
Index: []

<br><br>
**No problem here, since this is supposed to be limited to 15 minutes (but source of truth didn't limit)**