In [18]:
import pandas as pd
import numpy as np
import datetime as dt
import pickle

DATA_PATH = '../../input_data/GTFS-28-Oct-19/'
OUTPUT_PATH = '../../output_data/'

In [2]:
DAY = dt.datetime(2019, 11, 3)

## Load Nodes

In [3]:
FILES_PREFIX = 'morning'
file_name = OUTPUT_PATH + FILES_PREFIX + '_nodes.pkl'
print(f'Loading nodes from file {file_name}')
nodes_df = pd.read_pickle(file_name)
nodes_df.head(3)

Loading nodes from file ../../output_data/morning_nodes.pkl

,index,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
0,18,14824097_271019,08:02:40,08:02:40,2356,2,1606,נוף הגליל_שלום,08:00:00,41476,32.793214,35.038925,2019-11-03 08:02:40,2019-11-03 08:02:40,0
1,19,14824098_271019,09:02:40,09:02:40,2356,2,1606,נוף הגליל_שלום,09:00:00,41476,32.793214,35.038925,2019-11-03 09:02:40,2019-11-03 09:02:40,1
2,36,19590744_271019,08:14:17,08:14:17,2356,2,16379,טבריה_תחנה מרכזית,08:10:00,41476,32.793214,35.038925,2019-11-03 08:14:17,2019-11-03 08:14:17,2

In [4]:
nodes_df.shape

(325870, 15)

## Get Source Nodes

In [31]:
t = DAY+dt.timedelta(hours=8, minutes=25)
source_nodes_df = nodes_df[nodes_df['departure'] < t]

In [32]:
source_nodes_df.shape

(96674, 15)

In [33]:
start_time = str(t).split(' ')[1].replace(':','')

In [34]:
source_nodes = list(source_nodes_df['node_id'])

In [38]:
source_nodes = [str(n) for n in source_nodes]

In [39]:
len(source_nodes)

96674

In [19]:
with open(OUTPUT_PATH + 'source_nodes.pkl', 'wb') as f:
    pickle.dump(source_nodes, f)

## Get Target Nodes

In [21]:
nodes_df['arrival'].min()

Timestamp('2019-11-03 08:00:01')

In [20]:
nodes_df['arrival'].max()

Timestamp('2019-11-03 09:29:59')

In [22]:
earliest_arrival_t = DAY+dt.timedelta(hours=8, minutes=45)
latest_arrival_t = DAY+dt.timedelta(hours=9, minutes=10)
target_nodes_df = nodes_df[nodes_df['arrival'] > earliest_arrival_t][nodes_df['arrival'] < latest_arrival_t]

d:\users\bensdani\venvs\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
target_nodes_df['arrival'].min()

Timestamp('2019-11-03 08:45:01')

In [24]:
target_nodes_df['arrival'].max()

Timestamp('2019-11-03 09:09:59')

In [26]:
target_nodes_df.head()

,index,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
1,19,14824098_271019,09:02:40,09:02:40,2356,2,1606,נוף הגליל_שלום,09:00:00,41476,32.793214,35.038925,2019-11-03 09:02:40,2019-11-03 09:02:40,1
6,63,24004510_271019,08:54:09,08:54:09,2356,2,4418,כרמיאל_גבעת רם,08:50:00,41476,32.793214,35.038925,2019-11-03 08:54:09,2019-11-03 08:54:09,6
9,88,24961335_271019,08:47:40,08:47:40,2356,2,17720,אבו סנאן_מרכז,08:45:00,41476,32.793214,35.038925,2019-11-03 08:47:40,2019-11-03 08:47:40,9
11,104,25337104_271019,08:46:45,08:46:45,2356,17,4155,קרית מוצקין_מרכזית הקריות,08:25:00,41476,32.793214,35.038925,2019-11-03 08:46:45,2019-11-03 08:46:45,11
16,187,25344253_271019,08:47:47,08:47:47,2356,45,11293,צומת,07:54:00,41476,32.793214,35.038925,2019-11-03 08:47:47,2019-11-03 08:47:47,16

In [27]:
target_nodes = list(target_nodes_df['node_id'])

In [36]:
target_nodes = [str(n) for n in target_nodes]

In [37]:
with open(OUTPUT_PATH + 'target_nodes.pkl', 'wb') as f:
    pickle.dump(target_nodes, f)

In [29]:
len(target_nodes)

87832