In [1]:
import pickle
import pandas as pd

In [2]:
filename = '../../output_data/sp/sp_97005-97415.pkl'

In [3]:
access_areas_df = pd.read_pickle(filename)

In [4]:
access_areas_df.head()

,stop_id_source,stop_id_target,time_sec,stop_lon_target,stop_lat_target,arrival_target,stop_lon_source,stop_lat_source,departure
0,13160,18,2944.0,34.912708,32.300345,2019-11-03 09:00:08,34.849355,32.167168,2019-11-03 08:11:04
1,13160,19,2867.0,34.912602,32.301347,2019-11-03 08:58:51,34.849355,32.167168,2019-11-03 08:11:04
2,13160,48,2907.0,34.878765,32.299994,2019-11-03 08:52:31,34.849355,32.167168,2019-11-03 08:04:04
3,13160,90,3207.0,34.764014,31.985680,2019-11-03 09:02:02,34.849355,32.167168,2019-11-03 08:08:35
4,13160,188,2848.0,34.837598,32.270586,2019-11-03 08:51:32,34.849355,32.167168,2019-11-03 08:04:04

In [6]:
single_source_aa_df = access_areas_df[access_areas_df['stop_id_source'] == 13160]

In [7]:
single_source_aa_df.to_csv('../../output_data/sp/csv/aa_97005-97415_from_stop_13160.csv')

In [8]:
single_source_aa_df.shape

(4109, 9)

In [9]:
single_source_aa_df.head()

,stop_id_source,stop_id_target,time_sec,stop_lon_target,stop_lat_target,arrival_target,stop_lon_source,stop_lat_source,departure
0,13160,18,2944.0,34.912708,32.300345,2019-11-03 09:00:08,34.849355,32.167168,2019-11-03 08:11:04
1,13160,19,2867.0,34.912602,32.301347,2019-11-03 08:58:51,34.849355,32.167168,2019-11-03 08:11:04
2,13160,48,2907.0,34.878765,32.299994,2019-11-03 08:52:31,34.849355,32.167168,2019-11-03 08:04:04
3,13160,90,3207.0,34.764014,31.985680,2019-11-03 09:02:02,34.849355,32.167168,2019-11-03 08:08:35
4,13160,188,2848.0,34.837598,32.270586,2019-11-03 08:51:32,34.849355,32.167168,2019-11-03 08:04:04