In [1]:
import pickle
import pandas as pd

In [2]:
filename = '../../output_data/sp/sa_2346-2786.pkl'

In [3]:
access_areas_df = pd.read_pickle(filename)

In [4]:
access_areas_df.head()

,stop_id_source,stop_id_target,time_sec,stop_lon_target,stop_lat_target,arrival_target,stop_lon_source,stop_lat_source,departure
0,13019,12823,849.0,34.792974,32.073112,2019-11-03 08:02:04,34.781998,32.060521,2019-11-03 08:16:13
1,13019,12824,914.0,34.793377,32.072670,2019-11-03 08:00:59,34.781998,32.060521,2019-11-03 08:16:13
2,13019,12825,739.0,34.784808,32.073875,2019-11-03 08:03:54,34.781998,32.060521,2019-11-03 08:16:13
3,13019,12858,533.0,34.782271,32.075450,2019-11-03 08:07:20,34.781998,32.060521,2019-11-03 08:16:13
4,13019,12878,869.0,34.781427,32.082493,2019-11-03 08:01:44,34.781998,32.060521,2019-11-03 08:16:13

## Reversed names (target and source) - fix in code

In [11]:
DATA_PATH = '../../input_data/GTFS-28-Oct-19/'
OUTPUT_PATH = '../../output_data/'

FILES_PREFIX = 'morning'
file_name = OUTPUT_PATH + FILES_PREFIX + '_nodes.pkl'
print(f'Loading nodes from file {file_name}')
nodes_df = pd.read_pickle(file_name)
nodes_df.head(3)

Loading nodes from file ../../output_data/morning_nodes.pkl

,index,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,trip_headsign,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure,node_id
0,18,14824097_271019,08:02:40,08:02:40,2356,2,1606,נוף הגליל_שלום,08:00:00,41476,32.793214,35.038925,2019-11-03 08:02:40,2019-11-03 08:02:40,0
1,19,14824098_271019,09:02:40,09:02:40,2356,2,1606,נוף הגליל_שלום,09:00:00,41476,32.793214,35.038925,2019-11-03 09:02:40,2019-11-03 09:02:40,1
2,36,19590744_271019,08:14:17,08:14:17,2356,2,16379,טבריה_תחנה מרכזית,08:10:00,41476,32.793214,35.038925,2019-11-03 08:14:17,2019-11-03 08:14:17,2

In [13]:
single_source_aa_df = access_areas_df[access_areas_df['stop_id_source'] == 13019]

In [14]:
single_source_aa_df.to_csv('../../output_data/sp/csv/sa_2346-2786_to_stop_13019.csv')

In [15]:
single_source_aa_df.shape

(238, 9)

In [9]:
single_source_aa_df.head()

,stop_id_source,stop_id_target,time_sec,stop_lon_target,stop_lat_target,arrival_target,stop_lon_source,stop_lat_source,departure
0,13160,18,2944.0,34.912708,32.300345,2019-11-03 09:00:08,34.849355,32.167168,2019-11-03 08:11:04
1,13160,19,2867.0,34.912602,32.301347,2019-11-03 08:58:51,34.849355,32.167168,2019-11-03 08:11:04
2,13160,48,2907.0,34.878765,32.299994,2019-11-03 08:52:31,34.849355,32.167168,2019-11-03 08:04:04
3,13160,90,3207.0,34.764014,31.985680,2019-11-03 09:02:02,34.849355,32.167168,2019-11-03 08:08:35
4,13160,188,2848.0,34.837598,32.270586,2019-11-03 08:51:32,34.849355,32.167168,2019-11-03 08:04:04