In [1]:
import pickle
import pandas as pd

In [3]:
filename = '../../output_data/sa_13341-14033.pkl'

In [6]:
service_areas_df = pd.read_pickle(filename)

In [7]:
service_areas_df.head()

,stop_id_source,stop_id_target,time_sec,stop_lon_target,stop_lat_target,arrival_target,stop_lon_source,stop_lat_source,departure
0,12867,3,2625.0,34.782828,31.984553,2019-11-03 08:11:42,34.833799,32.054798,2019-11-03 08:55:27
1,12867,6,2422.0,34.898110,31.956678,2019-11-03 08:15:05,34.833799,32.054798,2019-11-03 08:55:27
2,12867,8,3230.0,34.824106,31.857565,2019-11-03 08:01:37,34.833799,32.054798,2019-11-03 08:55:27
3,12867,9,3153.0,34.821857,31.862305,2019-11-03 08:02:54,34.833799,32.054798,2019-11-03 08:55:27
4,12867,10,3101.0,34.822237,31.865085,2019-11-03 08:03:46,34.833799,32.054798,2019-11-03 08:55:27

In [8]:
single_source_sa_df = service_areas_df[service_areas_df['stop_id_source'] == 12867]

In [14]:
single_source_sa_df.to_csv('../../output_data/csv/sa_13341-14033_to_stop_12867.csv')

In [15]:
single_source_sa_df.shape

(6783, 9)

In [16]:
single_source_sa_df.head()

,stop_id_source,stop_id_target,time_sec,stop_lon_target,stop_lat_target,arrival_target,stop_lon_source,stop_lat_source,departure
0,12867,3,2625.0,34.782828,31.984553,2019-11-03 08:11:42,34.833799,32.054798,2019-11-03 08:55:27
1,12867,6,2422.0,34.898110,31.956678,2019-11-03 08:15:05,34.833799,32.054798,2019-11-03 08:55:27
2,12867,8,3230.0,34.824106,31.857565,2019-11-03 08:01:37,34.833799,32.054798,2019-11-03 08:55:27
3,12867,9,3153.0,34.821857,31.862305,2019-11-03 08:02:54,34.833799,32.054798,2019-11-03 08:55:27
4,12867,10,3101.0,34.822237,31.865085,2019-11-03 08:03:46,34.833799,32.054798,2019-11-03 08:55:27