In [19]:
import pickle
import pandas as pd
import os
from tqdm import tqdm_notebook

In [16]:
# Single_example
filename = '../../output_data/sa_13341-14033.pkl'
sample = pd.read_pickle(filename).head()
sample

,stop_id_source,stop_id_target,time_sec,stop_lon_target,stop_lat_target,arrival_target,stop_lon_source,stop_lat_source,departure
0,12867,3,2625.0,34.782828,31.984553,2019-11-03 08:11:42,34.833799,32.054798,2019-11-03 08:55:27
1,12867,6,2422.0,34.898110,31.956678,2019-11-03 08:15:05,34.833799,32.054798,2019-11-03 08:55:27
2,12867,8,3230.0,34.824106,31.857565,2019-11-03 08:01:37,34.833799,32.054798,2019-11-03 08:55:27
3,12867,9,3153.0,34.821857,31.862305,2019-11-03 08:02:54,34.833799,32.054798,2019-11-03 08:55:27
4,12867,10,3101.0,34.822237,31.865085,2019-11-03 08:03:46,34.833799,32.054798,2019-11-03 08:55:27

In [12]:
2040 in set(a['stop_id_target'])

False

In [14]:
a = a.append(a[a['stop_id_target'] == 10])
a

,stop_id_source,stop_id_target,time_sec,stop_lon_target,stop_lat_target,arrival_target,stop_lon_source,stop_lat_source,departure
0,12867,3,2625.0,34.782828,31.984553,2019-11-03 08:11:42,34.833799,32.054798,2019-11-03 08:55:27
1,12867,6,2422.0,34.898110,31.956678,2019-11-03 08:15:05,34.833799,32.054798,2019-11-03 08:55:27
2,12867,8,3230.0,34.824106,31.857565,2019-11-03 08:01:37,34.833799,32.054798,2019-11-03 08:55:27
3,12867,9,3153.0,34.821857,31.862305,2019-11-03 08:02:54,34.833799,32.054798,2019-11-03 08:55:27
4,12867,10,3101.0,34.822237,31.865085,2019-11-03 08:03:46,34.833799,32.054798,2019-11-03 08:55:27
0,12867,3,2625.0,34.782828,31.984553,2019-11-03 08:11:42,34.833799,32.054798,2019-11-03 08:55:27
1,12867,6,2422.0,34.898110,31.956678,2019-11-03 08:15:05,34.833799,32.054798,2019-11-03 08:55:27
2,12867,8,3230.0,34.824106,31.857565,2019-11-03 08:01:37,34.833799,32.054798,2019-11-03 08:55:27
3,12867,9,3153.0,34.821857,31.862305,2019-11-03 08:02:54,34.833799,32.054798,2019-11-03 08:55:27
4,12867,10,3101.0,34.822237,31.865085,2019-11-03 08:03:46,34.833799,32.054798,2019-11-03 08:55:27
4,12867,10,3101.0,34.822237,31.865085,2019-11-03 08:03:46,34.833799,32.054798,2019-11-03 08:55:27
4,12867,10,3101.0,34.822237,31.865085,2019-11-03 08:03:46,34.833799,32.054798,2019-11-03 08:55:27

In [27]:
# stop id 2040 is the RAMBAM hospital stop
target_stop = 2040
sa_df = pd.DataFrame(columns = sample.columns)

for filename in tqdm_notebook(list(os.listdir('../../output_data/'))):
    if 'sa_' in filename:
        sa_df = sa_df.append(pd.read_pickle('../../output_data/' + filename))
#         sa_df = sa_df.append(tmp_sa[tmp_sa['stop_id_target'] == target_stop])

G:\danielle\AppData\Local\Continuum\anaconda3\envs\accessibility\lib\site-packages\ipykernel_launcher.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """

HBox(children=(FloatProgress(value=0.0, max=472.0), HTML(value='')))

In [28]:
sa_df.head()

,stop_id_source,stop_id_target,time_sec,stop_lon_target,stop_lat_target,arrival_target,stop_lon_source,stop_lat_source,departure
0,1469,1230,3172.0,34.932260,32.557385,2019-11-03 08:01:38,35.074972,32.815284,2019-11-03 08:54:30
1,1469,1243,3368.0,34.938368,32.571946,2019-11-03 08:05:45,35.074972,32.815284,2019-11-03 09:01:53
2,1469,1246,908.0,35.017746,32.798692,2019-11-03 08:39:22,35.074972,32.815284,2019-11-03 08:54:30
3,1469,1247,841.0,35.021788,32.795426,2019-11-03 08:40:29,35.074972,32.815284,2019-11-03 08:54:30
4,1469,1249,257.0,35.068810,32.810104,2019-11-03 08:57:36,35.074972,32.815284,2019-11-03 09:01:53

In [29]:
sa_df.to_pickle('../../output_data/all_sa_df.pkl')

In [30]:
sa_df.shape

(48566069, 9)

In [31]:
sa_targets = set(sa_df['stop_id_target'])

In [32]:
len(sa_targets)

24996

In [33]:
2040 in sa_targets

True

In [34]:
rambam_sa = sa_df[sa_df['stop_id_target'] == 2040]

In [35]:
rambam_sa.shape

(2880, 9)

In [36]:
rambam_sa.head()

,stop_id_source,stop_id_target,time_sec,stop_lon_target,stop_lat_target,arrival_target,stop_lon_source,stop_lat_source,departure
327,1469,2040,1799.0,34.985153,32.831695,2019-11-03 08:24:31,35.074972,32.815284,2019-11-03 08:54:30
4169,2179,2040,1736.0,34.985153,32.831695,2019-11-03 08:24:31,35.071139,32.811661,2019-11-03 08:53:27
8109,2356,2040,1334.0,34.985153,32.831695,2019-11-03 08:24:31,35.038925,32.793214,2019-11-03 08:46:45
12278,2357,2040,1562.0,34.985153,32.831695,2019-11-03 08:24:31,35.056577,32.805789,2019-11-03 08:50:33
16314,2360,2040,2148.0,34.985153,32.831695,2019-11-03 08:24:31,35.089138,32.842679,2019-11-03 09:00:19

In [37]:
rambam_sa.to_pickle('../../output_data/rambam_sa_df.pkl')

In [38]:
rambam_sa.to_csv('../../output_data/rambam_sa_df.csv')

In [39]:
len(set(rambam_sa['stop_id_source']))

2842