## GTFS
In order to compute accessibility based on GTFS data (General Transit Feed Specification, can by downloaded from ftp://199.203.58.18/), we will first perform basic processing of the data.
We are using the pandas library.

The code is based on the following structure of GTFS tables:
![GTFS Tables](./GTFS_tables.PNG)

In [9]:
import pandas as pd
import datetime

# DATA_PATH = '../data/'
DATA_PATH = '../../input_data/GTFS-28-Oct-19/'

In [10]:
OUTPUT_PATH = '../../output_data/'
# OUTPUT_PATH = 'D:/'

## Process Calendar - Get trips for a single day

In [11]:
# Load calendar
calendar_df = pd.read_csv(DATA_PATH + 'calendar.txt')
# Convert dates to python's datetime type
calendar_df['start_date'] = calendar_df['start_date'].apply(lambda x: datetime.datetime.strptime(str(x), '%Y%m%d'))
calendar_df['end_date'] = calendar_df['end_date'].apply(lambda x: datetime.datetime.strptime(str(x), '%Y%m%d'))

calendar_df.columns = ['service_id',
 'sunday',
 'monday',
 'tuesday',
 'wednesday',
 'thursday',
 'friday',
 'saturday',
 'start_date',
 'end_date']

calendar_df[:3]

,service_id,sunday,monday,tuesday,wednesday,thursday,friday,saturday,start_date,end_date
0,1,1,1,1,1,1,0,0,2019-10-27,2019-10-31
1,2,1,1,1,1,1,0,0,2019-11-01,2019-12-26
2,3,0,0,0,0,0,1,0,2019-11-01,2019-12-26

In [13]:
# Let's say we want all trips that occurred on the first Sunday after the feed was published 
# (Feed was published on Tuesday October 24, 2017, and the following Sunday is October 29, 2017).

# Filter so we only keep services that are active on Sunday.
sunday_services_df = calendar_df[calendar_df['sunday'] == 1][['service_id', 'start_date', 'end_date']]

date = datetime.datetime(2019, 11, 3)

# Keep only services that start during/before November 3
sunday_services_df = sunday_services_df[sunday_services_df['start_date'] <= date]

# Keep only services that end during/after November 3
sunday_services_df = sunday_services_df[sunday_services_df['end_date'] >= date]

## Process Trips

In [15]:
trips_df.head()

,route_id,service_id,trip_id,trip_headsign,direction_id,shape_id
0,1,1,28876224_271019,רכבת יבנה מזרח,0,97105.0
1,1,1,28876225_271019,רכבת יבנה מזרח,0,97105.0
2,1,1,28876226_271019,רכבת יבנה מזרח,0,97105.0
3,1,1,28876227_271019,רכבת יבנה מזרח,0,97105.0
4,1,1,28876228_271019,רכבת יבנה מזרח,0,97105.0

In [16]:
# Load trips
trips_df = pd.read_csv(DATA_PATH + 'trips.txt')

# Fix column names (some columns have special 'hudden' characters that we want to remove)
trips_df.columns = ['route_id', 'service_id', 'trip_id', 'trip_headsign', 'direction_is', 'shape_id']

trips_calendar_df = sunday_services_df.merge(trips_df, on='service_id', suffixes=('_calendar', '_trips'))
sunday_trips_df = trips_calendar_df.drop(['start_date', 'end_date', 'trip_headsign'], axis=1)
sunday_trips_df[:3]

   service_id  route_id          trip_id  direction_is  shape_id
0           2         1  30900053_011119             0   97105.0
1           2         1  30900054_011119             0   97105.0
2           2         1  30900055_011119             0   97105.0

In [17]:
sunday_trips_df.nunique()

service_id       6742
route_id         6742
trip_id         99653
direction_is        2
shape_id         6665
dtype: int64

### We now have all trips that occurred on Sunday, November 3, 2019

## Process Stop Times
Note: This is pretty heavy compared to the rest of the tables

In [18]:
# Load stop times
stop_times_df = pd.read_csv(DATA_PATH + 'stop_times.txt')

# Get all trips departures by getting the minimal departure time for each trip
trips_start_times_df = stop_times_df.groupby('trip_id').agg({'departure_time': 'min'})

# Let's join the last two tabled to get the departure times of all sunday trips
sunday_departures_df = sunday_trips_df.merge(trips_start_times_df, on='trip_id', suffixes=('_departures', '_trips'))

## Process Stops

In [19]:
import datetime as dt
def convert_gtfs_time_to_datetime(gtfs_time):
    date = dt.datetime(2019, 11, 3)
    h, m, s = [int(x) for x in gtfs_time.split(':')]
    if h < 24:
        # This is a 'normal' situation, we can simply create a datetime object using the date we defined before
        return date + dt.timedelta(hours=h, minutes=m, seconds=s)
    # Otherwise we have a 'strange' time: it's after midnight
    new_date = date + dt.timedelta(days=1)
    return new_date + dt.timedelta(hours=h-24, minutes=m, seconds=s)

In [20]:
# Load stops
stops_df = pd.read_csv(DATA_PATH + 'stops.txt')

# Add stop code and zone id to stop times
stop_times_with_stop_codes_df = stop_times_df.merge(
    stops_df[['stop_id', 'stop_code', 'zone_id']], on='stop_id')

stop_times_with_stop_codes_df['departure_time'] = stop_times_with_stop_codes_df[
    'departure_time'].apply(convert_gtfs_time_to_datetime)

## Construct "Nodes"

In [21]:
# We want to (right) join this table with stop_times in order to get the sunday stop times with trip departure time.
sunday_nodes_df = stop_times_df.merge(sunday_departures_df, how='right', on='trip_id', suffixes=('_stop', '_trip_departure'))

# Remove some columns to clear the data
sunday_nodes_df = sunday_nodes_df.drop(['pickup_type', 'shape_dist_traveled', 
                                        'drop_off_type', 'service_id', 'direction_is', 'shape_id'], 
                                       axis=1)

# Add stops data to nodes
nodes_df = sunday_nodes_df.merge(stops_df, on='stop_id', suffixes=('_node', '_stop'))
nodes_df = nodes_df.drop(['stop_desc', 'stop_name', 'zone_id', 'parent_station', 'location_type'],axis=1)
nodes_df[:3]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,departure_time_trip_departure,stop_code,stop_lat,stop_lon
0,10021427_271019,00:00:00,00:00:00,36133,1,10376,00:00:00,47915,32.791771,35.034289
1,10021428_271019,01:00:00,01:00:00,36133,1,10376,01:00:00,47915,32.791771,35.034289
2,10021429_271019,02:00:00,02:00:00,36133,1,10376,02:00:00,47915,32.791771,35.034289

In [22]:
nodes_df[5300:5306]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,departure_time_trip_departure,stop_code,stop_lat,stop_lon
5300,33543899_271019,10:46:23,10:46:23,2364,11,6543,10:30:00,41484,32.83619,35.084962
5301,33543907_271019,11:16:23,11:16:23,2364,11,6543,11:00:00,41484,32.83619,35.084962
5302,33543912_271019,08:16:23,08:16:23,2364,11,6543,08:00:00,41484,32.83619,35.084962
5303,33543917_271019,08:46:23,08:46:23,2364,11,6543,08:30:00,41484,32.83619,35.084962
5304,33543922_271019,12:16:23,12:16:23,2364,11,6543,12:00:00,41484,32.83619,35.084962
5305,35199651_271019,06:17:18,06:17:18,2364,51,15761,05:32:00,41484,32.83619,35.084962

In [23]:
import datetime as dt
def convert_gtfs_time_to_datetime(gtfs_time):
    date = dt.datetime(2019, 11, 3)
    h, m, s = [int(x) for x in gtfs_time.split(':')]
    if h < 24:
        # This is a 'normal' situation, we can simply create a datetime object using the date we defined before
        return date + dt.timedelta(hours=h, minutes=m, seconds=s)
    # Otherwise we have a 'strange' time: it's after midnight
    new_date = date + dt.timedelta(days=1)
    return new_date + dt.timedelta(hours=h-24, minutes=m, seconds=s)

In [24]:
nodes_df['arrival'] = nodes_df['arrival_time'].apply(convert_gtfs_time_to_datetime)

In [25]:
nodes_df['departure'] = nodes_df['departure_time_stop'].apply(convert_gtfs_time_to_datetime)

In [26]:
nodes_df[5300:5306]

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure
5300,33543899_271019,10:46:23,10:46:23,2364,11,6543,10:30:00,41484,32.83619,35.084962,2019-11-03 10:46:23,2019-11-03 10:46:23
5301,33543907_271019,11:16:23,11:16:23,2364,11,6543,11:00:00,41484,32.83619,35.084962,2019-11-03 11:16:23,2019-11-03 11:16:23
5302,33543912_271019,08:16:23,08:16:23,2364,11,6543,08:00:00,41484,32.83619,35.084962,2019-11-03 08:16:23,2019-11-03 08:16:23
5303,33543917_271019,08:46:23,08:46:23,2364,11,6543,08:30:00,41484,32.83619,35.084962,2019-11-03 08:46:23,2019-11-03 08:46:23
5304,33543922_271019,12:16:23,12:16:23,2364,11,6543,12:00:00,41484,32.83619,35.084962,2019-11-03 12:16:23,2019-11-03 12:16:23
5305,35199651_271019,06:17:18,06:17:18,2364,51,15761,05:32:00,41484,32.83619,35.084962,2019-11-03 06:17:18,2019-11-03 06:17:18

## Some stats

In [27]:
nodes_df.nunique()

trip_id                          99653
arrival_time                     88667
departure_time_stop              88667
stop_id                          27622
stop_sequence                      117
route_id                          6742
departure_time_trip_departure     1202
stop_code                        27273
stop_lat                         26961
stop_lon                         26795
arrival                          88667
departure                        88667
dtype: int64

In [28]:
start_time = datetime.datetime(2019, 11, 3, 8)
end_time = datetime.datetime(2019, 11, 3, 9)

morning_trips_df = nodes_df[nodes_df['arrival'] > start_time][nodes_df['arrival'] < end_time]
morning_trips_df.head(5)

d:\users\bensdani\venvs\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

,trip_id,arrival_time,departure_time_stop,stop_id,stop_sequence,route_id,departure_time_trip_departure,stop_code,stop_lat,stop_lon,arrival,departure
18,14824097_271019,08:02:40,08:02:40,2356,2,1606,08:00:00,41476,32.793214,35.038925,2019-11-03 08:02:40,2019-11-03 08:02:40
36,19590744_271019,08:14:17,08:14:17,2356,2,16379,08:10:00,41476,32.793214,35.038925,2019-11-03 08:14:17,2019-11-03 08:14:17
61,24004495_271019,08:09:09,08:09:09,2356,2,4418,08:05:00,41476,32.793214,35.038925,2019-11-03 08:09:09,2019-11-03 08:09:09
63,24004510_271019,08:54:09,08:54:09,2356,2,4418,08:50:00,41476,32.793214,35.038925,2019-11-03 08:54:09,2019-11-03 08:54:09
68,24004542_271019,08:29:09,08:29:09,2356,2,4418,08:25:00,41476,32.793214,35.038925,2019-11-03 08:29:09,2019-11-03 08:29:09

In [29]:
morning_trips_df.nunique()

trip_id                          10728
arrival_time                      3599
departure_time_stop               3599
stop_id                          24750
stop_sequence                      112
route_id                          3556
departure_time_trip_departure      169
stop_code                        24437
stop_lat                         24172
stop_lon                         24031
arrival                           3599
departure                         3599
dtype: int64

In [30]:
morning_trips_df.to_pickle(OUTPUT_PATH + 'morning_trips_nodes.pkl')

## Filter only Tel Aviv Metropolitan stops

Let's get all Tel Aviv (TLV) stops

In [37]:
for zone in stops_df['zone_id'].unique():
    print(zone)

6900
469
8300
7000
8400
276
2530
753
379
1748
14039
193
7400
759
2550
12926
12921
7200
1165
1200
8500
828
1166
288
157
316
182
195
154
175
880
13575
12831
1304
466
1893
681
680
734
422
219
1309
2018
377
12433
41
1905
698
1876
807
661
167
12732
7900
8600
14050
2640
10687
382
1882
3760
12623
6600
8700
168
12565
12566
6200
12544
12543
565
12558
12752
12753
12737
717
2038
802
722
705
9700
592
187
1746
170
1167
327
800
6500
13173
13172
13175
13176
13180
13179
1869
1020
13171
9800
12483
13165
13164
13166
13167
13168
13163
13162
4000
9300
12221
12331
10746
7800
1860
2500
12208
12207
12205
12327
12204
12326
12201
12203
12200
12202
12188
12325
12324
12230
12321
12229
12227
12228
12225
12224
12223
6800
220
8200
9500
12074
11943
11942
12316
12314
12183
679
12313
12344
12343
2008
12340
12338
12186
12337
2055
12431
12440
715
12439
12336
12437
12335
12436
12334
773
12481
12480
12487
12488
12434
12475
12485
12486
12473
12185
617
12490
12491
12493
12430
12492
444
6000
360
628
1247
12428
648
12347
13938
12210
12209
12206
13151
13152
13154
13150
13149
13148
13147
13145
13144
13143
1866
13155
13153
13142
13141
13140
13133
11964
13084
13138
13135
427
12220
12293
12291
12292
12294
12289
12285
1840
11802
8800
889
2100
2300
9600
13146
13127
13125
13126
13139
53
494
11723
10704
534
944
922
13128
13130
13129
13937
13169
12213
12469
112
11808
11805
13134
189
11962
11963
13131
11977
13123
649
14032
12472
12219
12216
12218
12083
13137
13136
12333
12332
12226
12084
12082
14023
10732
12085
12080
12076
10733
10734
13085
13132
11940
11938
11939
11945
11801
12075
33
12081
12198
12199
12349
537
637
12195
12189
12194
12191
12300
12302
12304
654
12193
12190
2710
12290
12312
12309
12305
12303
12301
12299
12297
12295
12296
12298
12306
12310
1061
1139
7300
7600
1858
11722
11936
270
529
11772
11788
11768
11767
481
11557
11626
11624
11623
11625
4003
542
240
11786
1292
11920
2034
11923
11827
11748
11733
11908
11907
11811
11810
11734
1819
10702
11812
12244
11821
11819
11813
11820
1809
2800
4701
874
473
11825
11822
978
1964
10798
11750
10879
10877
10878
4100
4024
11432
11431
11433
11434
11436
11435
11437
11439
11438
11070
11428
11429
11430
11405
11404
11403
11402
4026
11006
10881
10921
10917
10916
10915
10912
10914
10913
1707
10782
10781
10780
10779
10695
10776
302
10760
4551
4015
11742
10840
10839
4008
11445
11446
11443
11444
11601
11602
11598
11599
10942
10941
10939
10938
10937
10958
10955
10956
10935
10936
10932
10933
10862
10928
10929
4503
10880
10876
10875
10811
10873
4502
10795
10794
10793
4303
10791
10827
10826
10825
10824
10822
10821
10789
8000
7700
12266
1330
478
12131
12130
9200
46
1117
457
11988
11989
508
475
11956
388
2029
146
14021
14022
2052
113
141
145
2054
164
2053
339
12142
12113
12364
95
11986
11987
12004
12366
12367
1829
11994
12137
12138
11946
12272
12273
12169
12168
90
12270
11968
12365
11875
11874
11954
11878
12257
12173
12172
12006
11965
12359
11981
12279
12158
12159
12145
12146
12139
12140
11999
12178
12174
12002
12003
12274
12275
12134
12135
11967
11952
11951
11969
12182
12181
12370
12369
12167
12166
11982
11983
11876
11877
11870
11871
12357
12358
12157
12009
12008
497
269
1824
12175
12176
524
436
11985
11984
12129
12111
12110
10706
10705
12260
12262
11953
12281
12280
12112
12268
11958
12269
12179
12114
12107
12106
12371
11993
11992
11947
12170
12282
12171
12161
12160
12007
11998
11990
11991
703
306
12132
12115
1820
7500
532
12354
1069
11966
407
523
489
1274
1155
12375
635
12376
12374
12116
12133
272
295
12271
12258
439
437
526
11970
11971
913
12355
12143
12356
12267
12144
11872
12265
1063
10861
10836
6700
11053
11051
11049
11045
11043
11041
11038
11016
11014
1814
10696
11340
11603
11604
374
262
65
993
11611
11609
11061
11083
11077
11079
11080
11074
11069
11058
11086
11088
11090
11092
11095
11097
11099
11103
11107
11109
11111
11113
11117
11978
2026
11861
11865
11867
11869
11843
11846
11853
11842
11847
11849
11852
11804
11606
11607
11613
11614
11617
11620
11622
11655
11656
492
11644
26
1230
11060
11066
975
11979
43
9100
372
502
1138
10867
324
11342
11015
11019
11017
11040
11042
11044
11046
11050
11052
11054
11610
11056
11118
11116
11112
11110
11108
265
11106
11102
11098
11096
199
11094
188
11091
11089
11904
11087
143
11085
11057
11068
11071
11072
11081
11078
11082
11860
11864
11866
11856
11848
11845
11855
11850
11851
11841
255
701
786
12231
11612
11616
11618
11619
11621
11642
11645
1105
11059
11064
1841
1334
11504
11510
11507
11508
11509
11506
11505
4001
1851
11582
11581
11584
11583
538
998
11658
11898
504
11896
511
11909
11913
509
530
11899
11918
11917
543
281
570
813
11416
1081
1722
11531
11271
322
1263
483
2009
11407
11406
10963
8900
11919
11586
485
708
48
11127
652
498
11615
10847
10844
499
994
4702
10909
1821
10908
14004
11859
1104
11858
292
11840
1313
307
812
1246
11301
795
755
11289
1219
11285
294
614
1045
11286
1130
11264
1147
11279
11280
11284
11288
1205
892
12018
11302
774
11327
11385
535
11386
1295
11468
11492
792
12023
1256
77
522
507
516
490
525
12020
12021
11387
496
13111
325
11291
11287
11493
11478
409
11322
11471
12013
11479
11474
11472
11473
11482
11321
11255
11290
11421
11364
463
574
11530
536
480
12046
12051
12055
11589
12053
11320
11328
1296
10972
369
12099
12098
12100
12119
367
682
586
12126
12125
12124
12121
241
122
140
142
11916
11915
430
1284
11903
11797
11529
11526
1172
1185
11527
1272
1207
11533
1180
1171
11692
1245
11688
11564
11686
11689
11693
989
1201
1202
11553
1221
1181
12061
11585
1723
1235
1163
1297
1047
917
1228
1226
1276
11712
1112
1275
11711
11709
1203
11708
11713
1317
10860
10858
10874
4010
429
11002
658
11282
11281
368
13094
576
11512
11521
11480
11477
11500
11359
11339
12017
1067
623
1115
11411
11410
11035
664
688
431
12778
11169
3601
11132
11133
11123
11164
3797
11175
11168
3000
11170
11165
11171
13987
11157
11137
11136
11141
11142
11139
11138
75
3604
13349
73
3780
12387
12724
12388
3722
12398
12399
3612
3743
13550
3609
3619
11177
3610
11176
3616
74
3639
13991
7778
3558
3606
3555
11147
11146
3620
11148
11149
11145
11150
11151
3563
3615
3565
3644
12459
3656
12392
13483
12391
3652
3658
3643
12631
3641
12389
3655
3573
13989
13990
11124
11119
3650
13350
3730
3752
13344
3723
3747
13988
12591
12590
3657
13477
3756
3561
3766
11162
3659
13984
11163
11174
11172
11173
3603
3651
3713
12722
12721
3488
3719
3564
3567
3759
1236
3574
3715
3787
13348
3607
3725
11167
11166
12460
76
3784
3788
3794
3575
12628
12627
12629
3649
11158
11155
11159
11154
11161
11156
3617
3611
1315
3646
12461
11120
3726
3764
3754
13343
3618
14030
3779
3570
3608
3782
12455
9999
3765
3660
3763
12675
12676
3749
12717
12710
3767
12711
14031
12691
3748
11160
12690
12393
13549
12783
3796
3770
370
3709
12780
12784
3769
13548
13353
3720
2610
1259
751
13551
864
10731
12853
13327
1801
13552
9000
1056
779
780
208
462
13554
1015
13556
1113
127
783
12890
825
799
13337
13321
13386
13385
52
13384
13383
794
13297
13296
59
1079
13381
13320
13380
13382
1114
13377
13319
919
13318
13317
13338
13316
13295
13315
13314
13313
1123
13336
13335
13334
13332
693
13356
1070
13357
13354
1071
13355
13333
822
13328
13322
13293
39
13292
13291
10
27
12852
13311
805
13312
13310
13309
567
13308
13306
809
1701
12847
12846
12844
12845
12842
12843
12841
12840
816
13284
776
13305
13304
12826
13303
13302
740
859
742
13301
13300
823
13279
13282
13324
13323
460
13268
13267
13266
13265
771
13280
13281
886
787
13264
13263
13262
13261
13260
465
456
13259
10742
10743
405
12918
12919
12920
12871
1137
12870
12869
12868
12867
472
1144
514
521
286
78
710
12851
14051
2630
70
13247
1926
1929
13634
13891
13890
13852
31
13756
13753
1031
7100
13523
13530
13522
13531
13524
13571
1953
13871
2200
155
67
13572
13569
396
13647
99
11199
14062
1949
13672
13493
13693
13599
13598
13585
13584
13582
13543
13544
13542
2600
11245
13685
13663
11235
11237
806
11208
11222
11221
11220
11207
11206
11205
10713
1129
11209
11211
11212
11210
13
11201
11198
11188
2560
11251
11243
11240
11239
866
11231
1126
13653
11182
11183
13224
13669
13652
13648
11200
11252
11246
11236
11238
11232
11228
11227
11215
11216
11214
13649
11226
11225
11189
11185
11184
2042
11244
13673
13655
13661
13666
13926
13914
13667
13682
13683
13654
13656
14061
1034
13578
13670
13651
13650
13664
13500
11223
11179
11197
11191
831
13675
13080
13069
11202
11203
11242
11241
12405
1198
13082
13957
13977
13978
13974
13965
13979
13970
13975
13969
13534
13072
10747
13971
13966
1057
1151
11187
11186
13958
1945
13962
13961
13959
13081
13976
13973
13535
13492
13078
1150
11217
11218
13076
1261
11219
13660
13678
13686
13657
1287
1303
13071
13070
11224
13039
13073
13040
13077
11196
13038
13972
13963
13074
13968
11204
246
709
1161
5000
6300
6100
6400
10716
267
14048
2650
12664
12665
13952
10689
10694
13949
2660
14046
13947
13944
13945
224
1102
235
13943
13940
877
12504
12503
14036
10691
10690
190
10735
115
12519
12518
12517
1077
326
13210
13209
13208
13206
191
12552
447
13203
12526
233
12551
13202
13201
12572
1745
757
13184
13183
12550
13186
13185
13200
12452
13199
64
197
12528
12531
12529
13187
13197
14042
171
13196
14041
13193
13192
13190
13189
12516
711
12451
12546
12450
12603
162
387
12602
425
2010
12449
12601
12875
839
423
12447
838
14038
301
12446
205
13982
12599
373
12598
12444
12445
173
767
12545
12985
2002
12542
1877
837
12564
12540
697
12567
12568
12539
850
12561
12557
851
12537
12538
12513
12512
12556
5424
758
12511
1319
12509
2043
12500
12498
12499
14047
10737
13948
13942
737
797
788
798
2620
12096
587
229
12818
9400
14055
12094
12092
12908
10708
13274
12976
12972
12970
12968
12964
177
166
1066
13275
12975
2400
128
450
12915
12906
12902
12900
12898
12946
1903
12944
12866
9981
12937
12939
801
449
1892
594
663
12983
418
841
2720
638
12750
12584
2730
12743
1345
12592
1224
284
389
12093
12095
627
174
159
12899
12901
12903
12907
616
12087
355
633
718
249
12943
12945
12947
13221
257
12965
12969
12971
12978
13222
12865
10717
12911
12941
13568
13562
160
12923
12922
12925
13574
862
12891
12822
12821
696
13214
563
12883
12886
2015
198
12586
12595
12527
13191
13188
12497
12494
12496
1742
871
12933
12942
555
591
13342
634
12967
12477
12476
1326
13156
13159
13161
13160
13157
312
12284
12286
12287
12288
285
12117
12118
13158
11944
344
12482
12441
12432
12184
1370
12438
541
1243
223
12470
178
12214
11741
13122
11717
282
517
11826
11928
11652
11766
11798
11657
13107
13105
13104
13102
13103
13119
13120
11783
11769
13116
13117
11731
11823
13110
13112
13115
13101
13099
13114
13095
13097
13098
13091
13092
13087
11312
13090
13089
11396
11395
11310
11309
11305
11394
11304
12024
11393
12028
12032
12033
11824
11303
12038
12039
12014
12015
11332
12030
12034
12016
12037
12036
14017
11392
11391
12057
505
11774
11773
11423
11390
11388
280
1314
11300
11299
11262
11295
11293
11260
11261
11422
11420
11418
11259
1068
11384
11296
11297
11417
11292
11935
1208
518
11380
11379
11378
11415
1173
11413
14010
11537
11536
11575
11538
11534
11535
11561
11558
11755
11756
11377
14008
12246
11266
13998
11263
1220
13997
11532
300
12097
11515
11376
11375
11325
11254
11486
11485
11484
14009
11483
11519
11481
11374
11373
11475
11372
11518
11517
11467
11469
11283
11465
11577
603
11574
11371
11370
11323
1209
11503
11498
11490
11368
11366
11367
11365
11570
11569
11277
11278
11522
1184
11276
11513
11511
11361
11360
578
11338
11358
11311
11357
11356
11319
11318
667
11354
11349
11348
11353
335
11351
11352
11315
11345
11344
1294
11313
11031
11032
11409
11408
11412
11336
11337
11034
11033
11030
11029
11335
11673
11333
11668
11665
531
11663
11671
11662
11010
445
11009
11005
11004
12238
11718
10973
11833
10870
10970
10979
10980
10996
10995
10983
10984
10991
10992
12120
11355
1191
11036
12122
12123
12102
12101
11960
11937
11800
11588
11587
785
1728
11308
12362
12361
11565
11562
11566
12259
11463
11462
11461
11459
11363
2057
343
11830
12005
11458
11451
11929
11932
11934
11933
11931
11930
11455
11457
11456
11341
11114
11115
11100
11770
11771
11101
263
10911
10906
10905
719
11863
10904
10903
10901
10902
10698
10951
10950
10700
11721
10949
10947
408
329
10863
378
11922
11921
10966
10805
10807
10803
10804
10778
10775
10774
416
4004
10895
4301
4022
380
10769
10768
11941
11737
303
10765
11633
11636
11884
11659
510
11651
11724
11740
11886
11894
11893
11880
11879
11897
11781
11634
11635
11632
11630
11631
14003
11641
11637
11660
11661
11799
11683
12011
11681
11677
11679
11682
11678
11680
11653
11803
1724
4304
4005
11594
10812
10830
12079
11925
10969
11764
297
12031
12029
572
12042
12026
12025
12253
12252
12251
12250
12248
12245
12249
11816
11104
590
330

520
347
997
528
11753
482
14014
11754
10907
11844
80
13121
11948
11949
11868
29
357
10751
11950
12128
10770
854
11076
13537
12127
12283
14000
10944
10943
10940
10960
4013
11460
11450
11684
11763
12255
12254
11639
11961
11829
11628
11627
10800
10952
10948
10946
1160
1174
11018
11608
11605
10866
319
10890
11751
11749
11747
11746
11744
11743
11745
10841
10838
10837
10835
10834
10833
10832
10831
11595
4012
13993
10848
10766
10845
10846
10756
10755
10754
10753
10865
10864
10953
10930
10931
10926
4101
10810
11726
10869
10910
10777
10871
10919
10920
10889
4009
10959
10872
10868
10888
10882
10883
11447
10842
10927
10925
10924
10752
10767
10764
11906
11796
4002
4011
11268
10763
10759
10823
11905
10829
10899
10898
10900
10896
11600
4014
4007
11269
11597
11596
10897
453
4006
11414
11691
11687
12050
12059
12060
12048
12236
11547
11546
11544
11541
11540
11542
11548
11552
11554
843
11675
11424
11838
12235
1179
10884
10885
12064
12062
12056
11839
12035
13100
12105
12108
10784
10761
10783
10962
10961
10790
12047
10772
10771
10954
10934
10957
10886
11427
14001
10887
10843
4019
11715
11714
10710
1199
1249
305
596
4021
1132
4017
12256
12232
12103
12104
11834
11739
12136
12234
4025
4028
11452
356
11130
11131
11441
11442
1337
12068
11556
11828
11793
11426
11425
11563
11012
10697
11959
10892
10894
10893
10891
12277
607
10999
11000
11003
11267
11020
2063
11273
11270
345
366
1222
11454
11902
11900
11891
11892
11890
11790
11789
10703
11787
11832
11654
11760
11732
11914
12345
11670
11666
11664
14012
11648
11649
11646
11640
11638
11818
11817
11809
11758
11685
11765
11559
11560
11759
11572
10711
12247
11667
12242
12239
11736
11738
11927
4204
12368
11836
11835
11735
11924
11794
12824
331
804
12834
12835
12837
1264
12848
12849
12838
12836
12833
12857
12854
12856
12825
1747
12707
12828
1050
743
12878
12876
670
856
12877
12881
12880
12884
12829
836
12855
13566
2033
13576
435
12830
12827
12887
12817
12812
12862
707
745
12776
618
673
604
784
12775
14053
13216
10725
12725
10744
12799
12986
12896
13561
13557
12888
12858
13213
22
12773
12912
12895
12589
1076
28
12984
98
12693
12688
12897
12788
12785
12789
12795
12801
12810
12805
12806
12814
12959
12955
12772
12730
12727
12916
1310
14045
10736
13212
12962
610
13215
10723
14043
12747
12751
12738
12741
12744
10722
239
311
597
13567
13560
1901
12924
562
12873
12874
12935
12934
12807
12794
12802
12585
1290
12501
12792
12791
12733
12609
12754
12759
12757
12735
12736
12740
12726
12728
12932
12931
12804
12803
12800
12793
12816
12813
12811
12809
12696
12952
12956
12917
12786
12910
12909
12973
13565
12974
12979
10724
12769
12768
808
12668
12790
12808
147
10707
13270
440
12927
12613
12879
13563
14044
12683
12684
12086
12823
12820
12819
12687
12961
12949
12593
1024
13298
12914
12832
12951
12850
12729
12958
12756
12796
12749
12957
12514
12448
12530
13981
12515
14040
12523
12521
12522
12520
12502
12614
12950
446
12928
1896
12872
12703
606
230
12555
12510
10719
10718
12960
12705
13391
234
13276
13225
13227
13229
13231
13234
13236
13240
13242
13238
13340
13339
756
1149
772
888
739
763
817
2012
274
393
13294
13387
13684
13075
793
13540
13545
13541
1419
13243
13241
13239
13235
13232
13230
13228
13226
13223
13277
13237
13341
13358
1753
13570
13539
13000
13624
13640
1280
13910
1291
13907
13905
328
13740
13901
13900
13720
13716
13718
13809
13806
13797
13795
13595
13796
13690
13594
13593
13592
1260
13591
13590
13430
362
13898
13724
13897
13589
13588
13587
13586
13881
13630
354
13894
13468
13051
13581
13872
13877
13579
13577
13422
13873
13880
13875
12989
12991
12990
13955
13004
13003
12993
13006
12994
13874
13892
12997
12996
13008
13007
13033
13029
13053
13054
13030
13032
13059
13058
13057
13050
13049
12987
13056
13028
13060
12981
13031
13042
1140
13026
13027
12980
13061
13025
421
13024
13048
13047
13062
13046
13043
13044
885
12948
13014
13015
13017
13016
13063
13064
13065
13066
13021
12422
12421
13018
13019
13868
12420
666
12419
13687
10714
13870
13688
13869
13659
12412
13528
12406
13925
13867
12404
1268
12401
12400
13525
1059
13507
13510
13505
13504
13502
13499
13497
13496
13495
13494
13583
13733
13734
13011
13866
13865
13020
13529
13791
12982
13793
13610
403
23
1233
714
1237
1223
1051
1231
1933
1046
1271
840
706
13446
747
2051
14058
14057
1930
10748
13378
13779
13781
13780
397
619
24
1913
13782
13642
2061
13746
348
13747
695
13789
13788
13787
13379
13600
13601
766
13602
13447
318
1136
1085
1238
413
13469
13470
14063
1323
744
749
598
748
815
2047
2064
309
1311
1232
768
1227
916
829
1241
1240
1242
1058
13404
13403
13395
13836
13466
13802
13801
13800
13405
13407
13406
13812
13811
13805
13804
13397
13396
13814
13815
1935
13749
13748
1763
13464
13816
13824
13847
13818
13817
13819
13776
13777
13845
13844
13843
13846
13840
13842
13778
13841
13839
13823
13837
13773
13771
13774
13775
13784
13783
13785
13848
13838
13604
13607
13606
13605
13639
13635
13609
13608
13754
13757
13760
13762
13761
13764
13763
13770
13769
13751
13768
13767
13766
13765
13641
13833
13834
13835
13633
13465
13799
13825
13803
13617
13613
13614
13611
13612
13462
13463
13621
13620
13618
13615
13622
13826
13827
13828
13401
13402
13392
13394
13393
13832
13830
13831
13619
13616
13399
13398
13400
13859
13858
13856
13857
13855
13854
13860
13861
13885
13849
13853
13851
13883
13882
13786
13888
13884
13889
13625
13626
13623
13628
13627
13631
13632
13629
13745
13798
13439
13438
13249
13251
13250
13244
13245
13440
13246
13417
13420
13426
13423
13415
13005
13427
13421
13001
13471
13727
13725
13728
13726
13721
13714
13700
13702
13698
13735
13461
13738
13715
13719
13707
13708
13706
13709
13697
13710
13705
13696
13694
13711
13717
13736
13731
13730
13732
13729
13701
13699
13456
13453
13457
13452
13454
13691
13451
13253
13429
13428
13704
13449
13450
13737
13460
13458
13459
13644
13643
13743
13645
13742
13741
13252
10730
13010
13009
12995
12999
12988
13646
12992
13431
13432
13441
13434
13435
13433
13713
13248
2023
676
399
713
352
1239
402
849
395
844
1924
573
7
1145
342
12414
13503
1761
13013
13012
13501
13512
13516
13533
13527
12407
13526
13532
13506
13536
13045
13936
13934
13932
13930
13922
13916
13668
13671
13674
13913
13917
13931
13933
13935
1340
13035
13906
13908
1195
13909
13002
13515
13514
1060
13490
13820
13491
394
12998
13810
13638
13790
13023
13896
13902
13904
13034
13041
13052
13954
13068
13637
13876
1152
13903
13899
13895
13893
13067
13055
13022
13517
13519
13521
12413
13520
13518
13508
13498
13928
13371
13792
13254
789
428
668
845
419
336
13436
13862
13437
340
14056
13389
13388
16
13445
358
584
13772
13722
13723
1286
1054
11707
13677
13680
13658
13681
13676
13679
1192
13416
14059
13443
13408
13409
13929
13821
13822
14054
406
415
1083
1366
1278
1251
13255
13444
1346
13487
1344
13485
13486
13484
13488
13489
13665
13455
1124
13953
10741
13950
14049
10739
10738
10740
10693
10715
12774
12797
12767
12525
12739
12612
12771
12695
11180
3640
3750
11398
11399
11400
11401
684
11397
10801
10799
10785
10808
1714
10773
827
13278
12621
12620
3768
12661
12660
3727
3744
12659
12658
3778
12619
12618
3791
3637
3746
3647
3790
3793
3712
9020
3795
12635
12634
12633
3557
3572
12383
12669
12652
3751
12646
12647
12581
12580
3762
3710
12578
12577
3579
3571
12644
12643
12642
12641
3613
12640
12639
12638
11144
3654
1791
12673
12636
12382
12655
12702
12701
13482
12390
12350
14028
3717
3560
13478
3745
3653
3569
3568
3556
12394
13475
12709
13479
3638
3781
1794
13362
12889
3785
11129
11128
3724
13547
10853
10852
10856
10855
10854
10857
10859
12278
11024
11025
11026
13995
11275
11274
11272
1729
10688
11021
11022
10809
11720
11719
1706
12762
1182
1257
1186
11837
133
1288
97
12147
304
12148
12152
12151
12155
12156
636
677
268
383
1282
12153
12150
11973
12149
1154
6268
1347
11761
11762
1327
12164
12165
12573
12574
12657
12656
13744
546
443
962
11448
11449
735
1103
158
1206
10729
986
11549
11550
11248
11249
11703
11704
11699
12777
1363
13326
13329
13289
13288
13330
13325
13983
13474
13473
13472
1316
12192
12162
12163
1333
12654
12653
10701
12243
13283
13365
13442
13363
13361
3576
12560
1183
313
14065
12604
12605
10720
12606
12607
10721
12608
10922
12594
1204
11257
11528
858
14067
14066
11807
11806
10851
1190
287
69
1349
11697
11696
11695
11694
11700
13271
13272
12977
1770
317
13985
3645
13986
4203
10819
10788
4201
10814
2003
12720
1143
13181
13182
432
595
559
14025
612
426
1320
810
290
694
689
1715
14026
687
433
580
12010
434
675
738
683
12712
11230
11229
13331
12930
12929
579
351
1376
11706
11705
13359
585
1293
11974
11975
11976
207
1162
12782
12781
13603
13509
13511
13878
13879
760
12381
12380
13992
10816
11440
1252
1253
1125
1285
10945
11702
11701
861
12864
12685
12686
35
11590
11591
11592
11593
13476
13083
620
13448
400
37
873
692
622
1098
736
553
762
750
398
2044
723
2049
818
791
824
820
1065
803
665
761
865
1082
2014
71
1080
2048
13360
1946
315
424
414
811
593
2011
2030
775
2062
2060
1937
1368
11
2046
13376
1133
2045
392
32
814
44
1339
11329
11489
1369
577
588
12346
5410
512
18
1365
1331
2059
11055
539
11752
11250
11247
13364
1265
13370
13368
13369
13367
13366
12348
14033
547
615
685
10815
12913
540
13287
13286
13285
712
12049
10745
12697
132
126
86
442
85
134
192
1283
2016
3786
2006
487
11543
564
942
2050
602
184
4501
3602
1716
605
1064
1229
1214
527
1146
1766
253
1922
720
334
571
674
732
1210
385
730
308
1211
63
62
79
1705
716
1279
1177
375
990
852
57
296
1328
359
1762

In [38]:
test_stops = stops_df[stops_df['zone_id'] == 6900]
test_stops.to_csv(OUTPUT_PATH + 'test_stops.csv')

In [39]:
test_stops.shape

(196, 9)

In [32]:
stops_df.shape

(27989, 9)

In [33]:
# Let's see how manu NaN zones we have:
stops_df['zone_id'].isna().sum()

0

In [34]:
# I think zone 210 is tel aviv metropolitan area (only the small surrounding part, we would need to extend for our real computations). 
# We need to filter only trips that contain stops (and then only nodes with those stops) that are in this zone.
tlv_stops_df = stops_df[stops_df['zone_id'] == 210]

In [35]:
tlv_stops_df.shape

(0, 9)

Now we need to get the TLV stop times, in order to find all trips that include TLV stops

In [177]:
# stop_times_df
tlv_stop_times_df = stop_times_df.merge(tlv_stops_df[['stop_id']], on='stop_id', how='inner')

In [179]:
tlv_stop_times_df.shape

(3040687, 8)

In [180]:
stop_times_df.shape

(11880208, 8)

Next, the TLV stop times include all actual trip ids with TLV stops in them. Let's find relevant trip in the Sunday's trips we're examining

In [191]:
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
# We want to get unique trips which pass through TLV, then we will use these trips to filter 
# Sunday trips to contain only trips that pass through TLV.
#
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

tlv_trips_df = tlv_stop_times_df[['trip_id']].drop_duplicates(subset ="trip_id", 
                     keep = False, inplace = False)

In [195]:
tlv_trips_df.head()

               trip_id
11766  29454550_291017
11767  28918821_301017
11768  28918821_051117
11769  28916754_301017
11770  28916754_051117

In [194]:
sunday_trips_df.head()

   service_id  route_id          trip_id  direction_is  shape_id
0    52601699      4322  25569747_241017             1   77876.0
1    52601699      4322  25569748_241017             1   77876.0
2    52596472        39  27729716_241017             0   82768.0
3    52596472        39  27729718_241017             0   82768.0
4    52596472        39  27729719_241017             0   82768.0

In [196]:
tlv_sunday_trips_df = sunday_trips_df.merge(tlv_trips_df[['trip_id']], on='trip_id', how='inner')

In [197]:
sunday_trips_df.shape

(89319, 5)

In [198]:
tlv_trips_df.shape

(2905, 1)

Now, we want to save only stops that are part of TLV trips

In [199]:
tlv_stop_times_df.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled
0,23005614_051117,20:43:00,20:43:00,37336,3,0.0,0.0,59700
1,29577221_051117,15:58:00,15:58:00,37336,4,0.0,0.0,59700
2,29577222_051117,14:58:00,14:58:00,37336,4,0.0,0.0,59700
3,15441332_051117,20:39:00,20:39:00,37336,5,0.0,0.0,20100
4,29684401_031117,14:58:00,14:58:00,37336,4,0.0,0.0,59700

In [203]:
tlv_stop_times_df.merge(tlv_trips_df[['trip_id']], on='trip_id', how='inner').shape
#[['stop_id']].drop_duplicates(subset ='stop_id', keep = False, inplace = False)

(2905, 8)

In [ ]:
tlv_trips_stops_df = tlv_stop_times_df.merge(tlv_trips_df[['trip_id']], on='trip_id', how='inner')

Finally, let's save only nodes of these stops, so that all nodes are part of TLV trips

In [168]:
tlv_nodes_df = nodes_df.merge(tlv_stops_df[['stop_id']], on='stop_id', how='inner')

In [171]:
nodes_df.shape

(3186123, 13)

In [172]:
tlv_nodes_df.shape

(864459, 13)

In [173]:
tlv_nodes_df.to_csv('tlv_nodes.csv')

## Compute Direct Edges

In [174]:
# First we verify that the stops in each trip are consecutive

# tmp_df = nodes_df
tmp_df = tlv_nodes_df

def verify_consective(l):
    if sorted(list(l)) != list(range(min(l), max(l)+1)):
        print('Found non-consecutive stop sequence')
        raise Exception('NON CONSECUTIVE STOP SEQUENCE')

In [175]:
tmp_df[['trip_id', 'stop_sequence']].groupby('trip_id').apply(lambda x: verify_consective(x.stop_sequence))

Found non-consecutive stop sequence
Found non-consecutive stop sequence
Found non-consecutive stop sequence
Found non-consecutive stop sequence

Exception: NON CONSECUTIVE STOP SEQUENCE

In [81]:
# ==> No exception -> all stops are consecutive, we can resume

In [140]:
def create_direct_edges_for_trip(x):
    for index, node in x.iterrows():
        stop_seq = node['stop_sequence']
        # For the same trip we want to take the next node
        next_node = x[x['stop_sequence'] == stop_seq + 1]
        if next_node.shape[0] == 0:
            # This is the last node of the current trip, no outgoing edge
            continue
        assert next_node.shape[0] == 1
        next_node_index = next_node.index[0]

        w = ((next_node['departure'] - node['arrival']) / np.timedelta64(1, 's')).values[0]    
        direct_edges.add((index, next_node_index, w))

<span style="background-color: #F1D9F9">TODO: make this multiprocessed: group by trip_id, and then split the data to batches of groups (trips). For each group we will apply the 'create direct edges' using a pool. We need to make sure that directed_edges is thread/process-safe.</span>

In [145]:
# For each trip (grouping by trip), create edges for this trip's consecutive nodes.
from tqdm.auto import tqdm
tqdm.pandas()

direct_edges = set()
tmp_df[['trip_id', 'stop_sequence', 'arrival', 'departure']].groupby('trip_id').progress_apply(create_direct_edges_for_trip)

HBox(children=(IntProgress(value=0, max=89319), HTML(value='')))

Empty DataFrame
Columns: []
Index: []

In [147]:
len(direct_edges)

3096804

In [148]:
import pickle

with open('direct_edges_all_israel.pkl', 'wb') as f:
    pickle.dump(direct_edges, f)

In [149]:
nodes_df.shape

(3186123, 13)

In [150]:
nodes_df.to_pickle('all_israel_nodes.pkl')

In [152]:
nodes_df[['id']].to_pickle('all_israel_node_ids.pkl')

## Compute Transfer Edges